<div th:fragment="header">
  <!-- 헤더 영역 시작 -->
  <header class="header-container">
    <section class="header-main-menu">
      <!-- 로고 영역 -->
      <div class="header-logo">
        <a th:href="@{/main}" class="header-logo-link">
          <h1 class="header-logo">화사 :: 愛 :: 화공</h1>
          <div class="header-text">그림에 담긴 애, 당신을 위한 작품</div>
        </a>
      </div>
      <!-- 오른쪽 사용자 액션 영역 -->
      <div class="header-actions">
        <a href="/member/signUp" class="header-item">SignUp</a>
        <a href="/member/login" class="header-item">Login</a>
        <!-- 검색 아이콘 -->
        <i class="fa-solid fa-magnifying-glass header-item" id="search-icon"></i>
        <!-- 사이드메뉴 아이콘 -->
        <i class="fa-solid fa-bars header-item" id="menu-icon"></i>
      </div>
    </section>

      <!-- 검색 영역 -->
      <section id="search-section" style="display: none;">
        <article class="search-area">
          <form id="search-form" action="/search" method="GET">
            <!-- 검색어 입력 -->
            <input type="search" id="query" name="query" placeholder="작가명, 작품명, 카테고리명으로 검색." autocomplete="off">
      
            <!-- 검색 버튼 -->
            <button type="submit" id="searchBtn" class="fa-solid fa-magnifying-glass header-item"></button>
          </form>
        </article>
      </section>

    <!-- 중앙 메뉴 -->
    <nav class="header-menu">
      <ul>
        <li class="nav-item">
          <a href="/piece/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="/artist/artistList">Artists</a>
        </li>
        <li class="nav-item">
          <a href="/auction/main">Auctions</a>
        </li>
        <li class="nav-item">
          <a href="/howTo/main">How To</a>
        </li>
      </ul>

      <nav class="subMenu">
        <div class="sub-bg"></div>
        <ul class="dropdown">
          <li><a href="/piece/gallery">즉시 구매 </a></li>
          <li><a href="/piece/gallery">판매 완료</a></li>
        </ul>
        <ul class="dropdown">
          <li><a href="/artist/artistList">신진 작가</a></li>
          <li><a href="/artist/artistList">이달의 작가</a></li>
          <li><a href="/artist/artistList">작가 목록</a></li>
        </ul>
        <ul class="dropdown">
          <li><a href="/auction/main">예정 경매</a></li>
          <li><a href="/auction/main">진행중인 경매</a></li>
          <li><a href="/auction/main">종료된 경매</a></li>
        </ul>
        <ul class="dropdown">
          <li><a href="/howTo/main">경매 소개</a></li>
          <li><a href="/howTo/main">안내사항</a></li>
          <li><a href="/howTo/main">자주 묻는 질문(FAQ)</a></li>
          <li><a href="/howTo/main">공지사항</a></li>
        </ul>
      </nav>
    </nav>

    <!-- 사이드 메뉴 영역 -->
    <div id="side-menu" class="side-menu">
      <!-- 사이드 메뉴 열기/닫기 아이콘 -->
      <i class="fa-solid fa-bars close-icon" style="font-size: 30px;"></i>
      <!-- 사이드 메뉴 항목 -->
      <nav>
        <div class="side-bar">
          <a href="/member/login" class="header-item">login</a>
        </div>
        <div class="side-bar">
          <a href="/member/login" class="side-item">구매 내역</a>
        </div>
        <div class="side-bar">
          <a href="/member/login" class="side-item">진행 경매</a>
        </div>
        <div class="side-bar">
          <a href="/member/login" class="side-item">팔로우 및 위시</a>
        </div>
        <div class="side-bar">
          <a href="/member/login" class="side-item">1 : 1 문의</a>
        </div>
      </nav>
    </div>

  </header>
</div>