<div th:fragment="header">
  <!-- 헤더 영역 시작 -->
  <header class="header-container">
    <section class="header-main-menu">
      <!-- 로고 영역 -->
      <div class="header-logo">
        <a th:href="@{/main}" class="header-logo-link">
          <h1 class="header-logo">화사 :: 愛 :: 화공</h1>
          <div class="header-text">그림에 담긴 애, 당신을 위한 작품</div>
        </a>
      </div>
      <!-- 오른쪽 사용자 액션 영역 -->
      <div class="header-actions">
        <a href="/member/signUp" class="header-item">SignUp</a>
        <a href="/member/login" class="header-item">Login</a>
        <!-- 검색 아이콘 -->
        <i class="fa-solid fa-magnifying-glass header-item" id="search-icon"></i>
      </div>
    </section>

      <!-- 검색 영역 -->
      <section id="search-section" style="display: none;">
        <article class="search-area">
          <form id="search-form" action="/search" method="GET">
            <!-- 검색어 입력 -->
            <input type="search" id="query" name="query" placeholder="작가명, 작품명, 카테고리명으로 검색." autocomplete="off">
            <!-- 검색 버튼 -->
            <button type="submit" id="searchBtn" class="fa-solid fa-magnifying-glass header-item"></button>
          </form>
        </article>
      </section>

    <!-- 중앙 메뉴 -->
    <nav class="header-menu">
      <ul>
        <li class="nav-item">
          <a href="/piece/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="/artist/artistList">Artists</a>
        </li>
        <li class="nav-item">
          <a href="/auction/main">Auctions</a>
        </li>
        <li class="nav-item">
          <a href="/howTo/main">How To</a>
        </li>
      </ul>

      <nav class="subMenu">
        <div class="sub-bg"></div>
        <ul class="dropdown">
          <li><a href="/piece/gallery#top">즉시 구매 </a></li>
          <li><a href="/piece/gallery#onlineCompleted">판매 완료</a></li>
        </ul>
        <ul class="dropdown">
          <li><a href="/artist/artistList#top">신진 작가</a></li>
          <li><a href="/artist/artistList#artists">이달의 작가</a></li>
          <li><a href="/artist/artistList#artistsList">작가 목록</a></li>
        </ul>
        <ul class="dropdown">
          <li><a href="/auction/main#top">예정 경매</a></li>
          <li><a href="/auction/main#ingAuction">진행중인 경매</a></li>
          <li><a href="/auction/main#endAuction">종료된 경매</a></li>
        </ul>
        <ul class="dropdown">
          <li><a href="/howTo/main#top">경매 소개</a></li>
          <li><a href="/howTo/main#guide">안내사항</a></li>
          <li><a href="/howTo/main#faqTitle">자주 묻는 질문(FAQ)</a></li>
          <li><a href="/howTo/main#noticeTitle">공지사항</a></li>
        </ul>
      </nav>
    </nav>
  </header>
</div>