#myPage-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main>h3{
  color: #4a6741;
}
#myPage-main>*{
  margin: 10px 0 10px;
}
#myPage-main>.myPage-sec{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 820px;
}
#myPage-main>.myPage-sec>div:first-child{
  color: #4a6741;
}
#myPage-main>.myPage-sec>.common-box{
  width: 100%;
  height: 50px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
#myPage-main>.myPage-sec .signUp-count{
color: red;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 10px 0;
}
#myPage-main>section>.member-hov{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 45px;
  border-radius: 8px;
  background-color: #4a6741;
  color: white;
  margin: 15px;
}
.member-hov:hover {
  cursor: pointer;
  background: white;
  border: 2px solid #4a6741;
  color: #4a6741;
}
