.member-main *{
  color: black;
}
/* 로그인 */
#logIn-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#logIn-main>*{
  margin: 10px 0 10px;
}
#logIn-main>.logIn-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  width: 400px;
}
#logIn-main>.logIn-sec>*{
  margin: 10px 0 10px;
}
#logIn-main>.logIn-sec>label{
  height: 52px;
}
#logIn-main>.logIn-sec>label>input{
  text-align: center;
}
#logIn-main>#logIn-btn{
  width: 400px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 40px;
}
#logIn-main>div>a{
  margin: 0 5px 0;
  padding: 0;
  color: #4a6741;
}

/* 회원가입, 아이디찾기, 비밀전호찾기 */
#member-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#member-main>*{
  margin: 10px 0 10px;
}
#member-main>.signUp-sec{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 820px;
}
#member-main>.signUp-sec>label{
  height: 32px;
}
#member-main>.signUp-sec>label>#signUp-count{
color: red;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 10px 0;
}
#member-main>#signUp-btn{
  width: 400px;
  border-radius: 8px;
  padding: 10px;
}
#member-main>section:last-child{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

/* 공통 */
main>h3{
  color: #4a6741;
}
main>div>*:first-child{
  color: #4a6741;
}
main>div>label{
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
main>div>label>input{
  border: none;
  flex-grow: 1;
}
main>div>label>input:focus {
  outline: none;
}
main>div>label>div:last-child{
  width: 90px;
  border-radius: 3px;
}
.member-hov{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4a6741;
  color: white;
}
.member-hov:hover {
  cursor: pointer;
  background: white;
  border: 2px solid #4a6741;
  color: #4a6741;
}
.member-btnA{
  width: 400px;
  height: 45px;
  padding: 10px;
  margin: 0 5px 0;
  border-radius: 8px;
}


.confirm-red{color: red;}
.sign-displayNone{display: none !important;}