/* 로그인 */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#member-logIn{
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#member-logIn>*{
  margin: 10px 0 10px;
}
#member-logIn>.logIn-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  width: 400px;
}
#member-logIn>.logIn-sec>*{
  margin: 10px 0 10px;
}
#member-logIn>.logIn-sec>label{
  height: 52px;
}
#member-logIn>.logIn-sec>label>input{
  text-align: center;
}
#member-logIn>#logIn-btn{
  width: 400px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 40px;
}

#signMain-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0 150px;
  justify-self: flex-end;
}
#signMain-bottom>.signMain-btn{
  margin: 0 5px 0;
  padding: 0;
  color: #5e7c71;
}
#signMain-bottom>.signMain-btn:hover{
  cursor: pointer;
}

/* 회원가입, 아이디찾기, 비밀전호찾기 */
.member-main{
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
}
.member-main>*{
  margin: 68px 0 10px;
}
.member-main>.signUp-sec{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 820px;
}
.member-main>.signUp-sec>*{
  margin: 0 0 15px;
}
.member-main>.signUp-sec>label{
  height: 57px;
}
.member-main>.signUp-sec>label>.signUp-count{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 10px 0;
}
.member-main>#signUp-btn{
  width: 400px;
  border-radius: 8px;
  padding: 10px;
}
.member-main>section:last-child{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

/* 공통 */
#signMain{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
main>h3{
  color: #5e7c71;
  font-size: 1.8em;
}
main>div>*:first-child{
  color: #5e7c71;
  font-size: 1.44em;
}
main>div>label{
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
main>div>label>input{
  border: none;
  flex-grow: 1;
}
main>div>label>input:focus {
  outline: none;
}
main>div>label>div:last-child{
  width: 90px;
  border-radius: 3px;
}
.member-hov{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5e7c71;
  color: white;
}
.member-hov:hover {
  cursor: pointer;
  background: white;
  border: 2px solid #5e7c71;
  color: #5e7c71;
}
.member-btnA{
  width: 400px;
  height: 45px;
  padding: 10px;
  margin: 0 5px 0;
  border-radius: 8px;
}


.confirm-green{color: green;}
.confirm-red{color: red;}
.sign-displayNone{display: none !important;}