<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주문 내역 조회</title>
  <link rel="stylesheet" href="/css/common/delivery.css">
  <th:block th:replace="~{/common/common.html :: cssLinks}"></th:block>
</head>
<main>
  <section class="main-container">
    <div class="session-container">
    <h3>주문 내역 조회</h3>
  </div>
  <div class="custom-line"></div>
  <div class="dateType-container">
    <button class="date" id="today">오늘</button>
    <button class="date" id="aWeek">1주일</button>
    <button class="date" id="oneMonth">1개월</button>
    <button class="date" id="threeMonth">3개월</button>
    <button class="date" id="sixMonth">6개월</button>
    <input type="date" class="calendar">
    <button class="selectBtn" id="select">조회</button>
  </div>
  <table class="table-container">
    <thead class="table-header">
      <td>No</td>
      <td>주문 일자</td>
      <td>작품명</td>
      <td>입찰 금액</td>
      <td>수량</td>
      <td>주문 처리 상태</td>
    </thead>
    <tbody class="table-content">
      <td th:text="${manage.deliveryNo}"></td>
      <td th:text="${manage.deliveryDate}"></td>
      <td th:text="${manage.pieceTitle}"></td>
      <td th:if="${manage.endPrice and manage.sellPrice}"></td>
      <td th:text="${manage.count}"></td>
      <td th:text="${manage.deliveryStatus}"></td>
    </tbody>
  </table>
  </section>
</main>

<body>
  <th:block th:replace="~{/common/common.html :: headerLinks}"></th:block>
  <script src="/js/common/delivery.js"></script>
</body>
<th:block th:replace="~{/common/footer.html}"></th:block>
</html>