<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 수정</title>
  <link rel="stylesheet" href="/css/manage/noticeRevise.css">
  <th:block th:replace="~{/common/common.html :: cssLinks}"></th:block>
</head>

<body>
  <th:block th:replace="~{/common/common.html :: headerLinks}"></th:block>

  <main>
    <section class="container">
      <h1 class="title">공지사항 수정</h1>
    </section>

    <section>
      <!-- 공지사항 데이터 표시 -->
      <form th:action="@{/manage/updateNotice}" method="post">

        <input name="noticeNo" th:value="${noticeNo}" style="display:none; cursor: pointer;"/>

        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="input-title"
          th:value="${notice.noticeTitle}" />

        <label for="content">내용</label>
        <textarea id="content" name="content" class="input-content"
          th:text="${notice.noticeContent}"></textarea>

        <button class="submit-button" type="submit">수정하기</button>
      </form>
    </section>
  </main>


</body>

</html>