<link rel="stylesheet" href="/css/manage/reportPopup.css">

<!-- 신고 사유 팝업 -->
<div class="popup display-none" id="reportPopup">
  <div class="popup-content">
    <h2 class="popup-title">신고 사유</h2>
    
    <div class="popup-section">
      <button class="popup-close-btn" id="closePopupBtn">✖</button>
      <label for="reportDetail">신고 사유</label>

      <input type="text" class="report-input" placeholder="신고 사유" readonly > 
    </div>
    
    <div class="popup-section">
      <label for="reportDetail">신고 상세내용</label>
      <div class="report-detail">
       
      </div>
    </div>
    
    <div class="popup-actions">
      <button class="btn" id="confirmReport" data-id="${reportNo}">신고 반려</button>
      <button class="btn" id="cancelReport" data-id="${pieceNo}">게시글 삭제</button>
    </div>
  </div>
</div>

<script src="/js/manage/reportPopup.js"></script>
