<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
  <link rel="stylesheet" href="/css/myPage/artistRegistration.css">
</head>
<body>
  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main>
    <form action="insertArtist" method="post" id="myPage-main" class="myPage-main" enctype="multipart/form-data">

      <h3 style="margin-top: 100px;">작가등록</h3>

      <!-- 활동명 -->
      <div class="myPage-sec">
        <div>닉네임</div>
        <label class="labely" for="artistNickname">
          <input type="text" name="artistNickname" id="artistNickname" placeholder="작가 활동 시 사용할 입력해 주세요.">
        </label>
        <div id="nicknameMessage"></div>
      </div>

      <!-- 아이디 -->
      <div class="myPage-sec">
        <div>아이디</div>
        <label class="labely" for="memberId">
          <input type="text" id="memberId" name="memberId" placeholder="현재 아이디를 입력해 주세요.">
        </label>
      </div>

      <!-- 대표작품 -->
      <div class="myPage-sec">
        <div>대표작품</div>
        <div id="imgBorder">
          <div id="deleteImg">x</div>
          <img src="/images/artist1.jpg" id="imgPreview" alt="작가프로필">
        </div>
        <label for="artistProfile" class="member-hov" id="artistProfileLabel">
          이미지 선택
        </label>
        <input class="hiddenInput" name="inputArtistProfile" type="file" id="artistProfile" accept="image/*">
      </div>

      <!-- 포트폴리오 -->
      <div class="myPage-sec">
        <div>포트폴리오</div>
        <label class="labely" for="artistPortfolio">
          <span id="artistPortfolioName">포트폴리오를 첨부해 주세요.</span>
          <input class="hiddenInput" name="inputArtistPortfolio" type="file" id="artistPortfolio">
          <div class="member-hov">
            첨부하기
          </div>
        </label>
      </div>

      <!-- 계좌번호 -->
      <div class="myPage-sec">
        <div>계좌번호</div>
        <div id="artistBank" class="labely" for="artistPortfolio">
          <input type="text" name="bankNo" id="bankNo">
          <div class="member-hov" id="selectBank">
            은행선택
          </div>
        </div>
        <div id="babkNoMessage"></div>
      </div>
          
      <section>
        <button class="member-hov" id="myPage-update">신청하기</button>
      </section>
    </form>
  </main>

  <th:block th:replace= "~{/myPage/popup.html}"></th:block>
  <th:block th:replace= "~{/common/footer.html}"></th:block>
  <script th:inline="javascript">
    const memberNo = /*[[${session.memberLogin.memberNo}]]*/ "defaultMemberNo";
    const defaultProfileImg = "/images/artist1.jpg";
  </script>
  <script src="/js/myPage/artistRegistration.js"></script>

</body>
</html>