<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
    <link rel="stylesheet" href="/css/myPage/artistAuction.css">
  </head>
  <body>
  <script src="https://kit.fontawesome.com/8695e357e4.js" crossorigin="anonymous"></script>
  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main id="myPage-main" class="myPage-main">
    <h1>내 경매 현황</h1>


    <section class="content-section">

      <!-- <h2>완료 경매</h2> -->

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'F'}" th:object="${piece}">
          
          <div class="content-div auction-end">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="|낙찰가 *{finalPrice}|">10000000</p>
              <hr>
              <div class="piece-btns deliveryBtn" th:data-piece-no="*{pieceNo}">배달정보</div>
            </div>
            <div class="image-container">
              <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
              <div class="loader"></div>
            </div>
          </div>

        </th:block>
        <th:block th:if= "${piece.pieceStatus == 'D'}" th:object="${piece}">
          
          <div class="content-div auction-deposit">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="|낙찰가 *{finalPrice}|">100000000</p>
              <hr>
              <div class="piece-btns detailBtn" th:data-piece-no="*{pieceNo}">입금대기</div>
            </div>
            <div class="image-container">
              <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
              <div class="loader"></div>
            </div>
          </div>

        </th:block>
      </th:block>

    <!-- </section>
    
    <section class="content-section">
      <hr>
      <h2>진행중 경매</h2> -->

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'S'}" th:object="${piece}">
          
          <div class="content-div auction-start">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="*{startPrice}" class="current-price" th:data-piece-no="*{pieceNo}"></p><!-- 현재 입찰가 -->
              <hr>
              <div class="piece-btns detailBtn" th:data-piece-no="*{pieceNo}">상세보기</div>
            </div>
            <div class="image-container">
              <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
              <div class="loader"></div>
            </div>
          </div>

        </th:block>

      </th:block>

    <!-- </section>
    
    <section class="content-section">
      <hr>
      <h2>대기중 경매</h2> -->

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'A'}" th:object="${piece}">
          
          <div class="content-div auction-auction">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <P th:text="|오픈일 *{openDate}|">11/09(금)</P>
              <p th:text="|프리뷰 *{previewStartDate} ~ *{previewEndDate}|">11/09(토) ~ 11/20(수)</p>
              <p th:text="|경매일 *{startDate}|">12월 6일 14:00</p>
              <div class="piece-btns piece-detales" th:data-piece-no="*{pieceNo}">상세보기</div>
            </div>
            <div class="image-container">
              <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
              <div class="loader"></div>
            </div>
          </div>

        </th:block>

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'T'}" th:object="${piece}">
          
          <div class="content-div auction-temp">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매예정일 *{startDate}|">11/09(토)</p>
              <p th:text="|경매시작가 *{startPrice}|">12월 6일 14:00</p>
              <hr>
              <div class="piece-btns detailBtn" th:data-piece-no="*{pieceNo}">작성하기</div>
              <div class="piece-btns removeBtn" th:data-piece-no="*{pieceNo}">삭제하기</div>
            </div>
            <div class="image-container">
              <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
              <div class="loader"></div>
            </div>
          </div>

        </th:block>

      </th:block>

    </section>
    
  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
  <script src="/js/myPage/artistAuction.js"></script>
  <script th:inline="javascript">
    const memberNo = /*[[${session.artistLogin.memberNo}]]*/ "defaultMemberNo";
  </script>

</body>
</html>