<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
    <link rel="stylesheet" href="/css/myPage/artistAuction.css">
  </head>
  <body>
  <script src="https://kit.fontawesome.com/8695e357e4.js" crossorigin="anonymous"></script>
  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main id="myPage-main" class="myPage-main">
    <h1>내 경매 현황</h1>


    <section class="content-section">

      <!-- <h2>완료 경매</h2> -->

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'F'}" th:object="${piece}">
          
          <div class="content-div">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="|낙찰가 *{finalPrice}|">12월 6일 14:00</p>
              <hr>
              <div class="piece-btns deliveryBtn">배달정보</div>
            </div>
            <div>
              <img th:src="*{pieceRename}" alt="사진" class="content-img">
            </div>
          </div>

        </th:block>
        <th:block th:if= "${piece.pieceStatus == 'N'}" th:object="${piece}">
          
          <div class="content-div">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="|낙찰가 *{finalPrice}|">12월 6일 14:00</p>
              <hr>
              <div class="piece-btns detailBtn">입금대기</div>
            </div>
            <div>
              <img th:src="*{pieceRename}" alt="사진" class="content-img">
            </div>
          </div>

        </th:block>
      </th:block>

    <!-- </section>
    
    <section class="content-section">
      <hr>
      <h2>진행중 경매</h2> -->

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'S'}" th:object="${piece}">
          
          <div class="content-div">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="|입찰가 *{finalPrice}|">12월 6일 14:00</p>
              <hr>
              <div class="piece-btns detailBtn">상세보기</div>
            </div>
            <div>
              <img th:src="*{pieceRename}" alt="사진" class="content-img">
            </div>
          </div>

        </th:block>

      </th:block>

    <!-- </section>
    
    <section class="content-section">
      <hr>
      <h2>대기중 경매</h2> -->

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'A'}" th:object="${piece}">
          
          <div class="content-div">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="|시작가 *{finalPrice}|">12월 6일 14:00</p>
              <hr>
              <div class="piece-btns detailBtn">상세보기</div>
            </div>
            <div>
              <img th:src="*{pieceRename}" alt="사진" class="content-img">
            </div>
          </div>

        </th:block>

      <th:block th:each= "piece:${pieceList}">
        <th:block th:if= "${piece.pieceStatus == 'T'}" th:object="${piece}">
          
          <div class="content-div">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <p th:text="|경매일 *{startDate}|">11/09(토)</p>
              <p th:text="|입찰가 *{finalPrice}|">12월 6일 14:00</p>
              <hr>
              <div class="piece-btns detailBtn">작성하기</div>
              <div class="piece-btns removeBtn">삭제하기</div>
            </div>
            <div>
              <img th:src="*{pieceRename}" alt="사진" class="content-img">
            </div>
          </div>

        </th:block>

      </th:block>

    </section>
    
  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
  <script src="/js/myPage/artistAuction.js"></script>
  <script th:inline="javascript">
    const memberNo = /*[[${session.artistLogin.memberNo}]]*/ "defaultMemberNo";
  </script>

</body>
</html>