<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
    <link rel="stylesheet" href="/css/myPage/followAndWish.css">
  </head>
  <body>
  <script src="https://kit.fontawesome.com/8695e357e4.js" crossorigin="anonymous"></script>
  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main id="myPage-main" class="myPage-main">
    <h1>팔로우 및 위시리스트</h1>


    <section class="content-section" id="wishList-section">

      <h2>위시리스트</h2>

      <section id="wishList-content">

        <!-- 위시리스트 -->
        <th:block th:each= "wishList : ${wishList}" th:object="${wishList}">
          <div class="content-div">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <P th:text="|오픈일 *{openDate}|">11/09(금)</P>
              <p th:text="|프리뷰 *{previewStartDate} ~ *{previewEndDate}|">11/09(토) ~ 11/20(수)</p>
              <p th:text="|경매일 *{startDate}|">12월 6일 14:00</p>
              <div th:class="|piece-detales *{pieceStatus == 'A' ? 'commingAuction' : 'currentAuction'}|"
               th:data-piece-no="*{pieceNo}|">상세보기</div>
            </div>
            <div class="image-container">
              <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
              <div class="loader"></div>
            </div>
          </div>
        </th:block>
  
      </section>

      <!-- 위시리스트 페이지네이션 -->
      <ul th:if="${!#lists.isEmpty(wishList)}" class="pagination-box" id="paginationBox1" th:object="${wishPagination}">

        <th:block th:if= "*{maxPage > pageSize}">
          <li><a href="#" class="page-btn">&lt;&lt;</a></li>
          <li><a href="#" class="page-btn">&lt;</a></li>
        </th:block>

        <th:block th:each= "i:*{#numbers.sequence(startPage, endPage)}">

          <!-- 현재 보고있는 페이지 -->
          <li th:if= "${i} == *{currentPage}">
            <a href="#" class="current page-btn" th:text="${i}">현재페이지</a>
          </li>

          <!-- 보고있지 않은 페이지 -->
          <li th:unless= "${i} == *{currentPage}">
            <a href="#" class="page-btn" th:text="${i}">이동할 수 있는 페이지</a>
          </li>

        </th:block>

        <th:block  th:if= "*{maxPage > pageSize}">
          <li><a href="#" class="page-btn">&gt;</a></li>
          <li><a href="#" class="page-btn">&gt;&gt;</a></li>
        </th:block>
      </ul>

      <th:block th:if="${#lists.isEmpty(wishList)}">
        <div class="content-div" style="width: 100%;">
          <div style="width: 100%; display: flex; justify-content: center;">
            <a href="/auction/main" style="color: grey; margin: 70px 0 70px; font-size: 1.17em; font-weight: bold;">현재 찜한 작품이 없습니다.</a>
          </div>
        </div>
      </th:block>

    </section>

    <section class="content-section">
      <h2>팔로우</h2>

      <section class="follow-div" id="followList-content">

        <!-- 팔로우작가 -->
        <th:block th:each= "artist : ${followList}" th:object="${artist}">
          <div class="following" th:data-member-no="*{memberNo}">
            <div class="image-container">
              <img th:src="*{artistProfile}" alt="사진" class="artist-img" onload="hideLoader(this)">
              <div class="loader"></div>
            </div>
            <p th:text="*{artistNickname}">작가명</p>
          </div>
        </th:block>

      </section>

      <!-- 페이지네이션 -->
      <ul th:if="${!#lists.isEmpty(followList)}" class="pagination-box" id="paginationBox2" th:object="${followPagination}">

        <!-- <th:block th:if= "*{maxPage > pageSize}"> -->
          <li><a href="#" class="page-btn">&lt;&lt;</a></li>
          <li><a href="#" class="page-btn">&lt;</a></li>
        <!-- </th:block> -->

        <th:block th:each= "i:*{#numbers.sequence(startPage, endPage)}">

          <!-- 현재 보고있는 페이지 -->
          <li th:if= "${i} == *{currentPage}">
            <a href="#" class="current page-btn" th:text="${i}">현재페이지</a>
          </li>

          <!-- 보고있지 않은 페이지 -->
          <li th:unless= "${i} == *{currentPage}">
            <a href="#" class="page-btn" th:text="${i}">이동할 수 있는 페이지</a>
          </li>

        </th:block>

        <th:block  th:if= "*{maxPage > pageSize}">
          <li><a href="#" class="page-btn">&gt;</a></li>
          <li><a href="#" class="page-btn">&gt;&gt;</a></li>
        </th:block>
      </ul>

      <th:block th:if="${#lists.isEmpty(followList)}">
        <div class="content-div" style="width: 100%;">
          <div style="width: 100%; display: flex; justify-content: center;">
            <a href="/artist/artistList" style="color: grey; margin: 70px 0 70px; font-size: 1.17em; font-weight: bold;">현재 팔로우 하는 작가가 없습니다.</a>
          </div>
        </div>
      </th:block>

    </section>
    
    
  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
  <script th:inline="javascript">
    const memberNo = /*[[${session.artistLogin != null} ? ${session.artistLogin.memberNo} : ${session.memberLogin.memberNo}]]*/ "defaultMemberNo";
    let wishPagination   = /*[[${wishPagination}]]*/ "defaultFollowPagination";
    let followPagination = /*[[${followPagination}]]*/ "defaultFollowPagination";
  </script>
  <script src="/js/myPage/followAndWish.js"></script>

</body>
</html>