<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
    <link rel="stylesheet" href="/css/myPage/followAndWish.css">
  </head>
  <body>
  <script src="https://kit.fontawesome.com/8695e357e4.js" crossorigin="anonymous"></script>
  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main id="myPage-main" class="myPage-main">
    <h1>팔로우 및 위시리스트</h1>


    <section class="content-section" id="wishList-section">

      <h2>위시리스트</h2>

      <section>

        <!-- 위시리스트 -->
        <th:block th:each= "wishList : ${wishList}" th:object="${wishList}">
          <div class="content-div">
            <div>
              <h3 th:text="*{pieceTitle}">무제</h3>
              <P th:text="|오픈일 *{openDate}|">11/09(금)</P>
              <p th:text="|프리뷰 *{previewStartDate} ~ *{previewEndDate}|">11/09(토) ~ 11/20(수)</p>
              <p th:text="|경매일 *{startDate}|">12월 6일 14:00</p>
              <div class="piece-detales">상세보기</div>
            </div>
            <div>
              <img th:src="*{pieceRename}" alt="사진" class="content-img">
            </div>
          </div>
        </th:block>
  
      </section>

      <section th:if= "${wishPagination}" class="pagination-area">

        <ul class="pagination" th:object="${wishPagination}">

          <!-- 페이지 변경 foward -->
          <!-- 이제 10페이지 넘어가면 페이지 넘기는 버튼이 나올예정 -->
          <th:block th:if= "*{maxPage > pageSize}">
            <!-- 첫 페이지로 이동 -->
            <li><a href="#">&lt;&lt;</a></li>
  
            <!-- 이전 목록 마지막 번호로 이동 -->
            <li><a href="#">&lt;</a></li>
          </th:block>

          <!-- 특정 페이지로 이동 -->
          <th:block th:each= "i:*{#numbers.sequence(startPage, endPage)}">

            <!-- 현재 보고있는 페이지 -->
            <li th:if= "${i} == *{currentPage}">
              <a class="current" th:text="${i}">현재페이지</a>
            </li>
  
            <!-- 보고있지 않은 페이지 -->
            <li th:unless= "${i} == *{currentPage}">
              <a href="#" th:text="${i}">이동할 수 있는 페이지</a>
            </li>

          </th:block>

          <th:block  th:if= "*{maxPage > pageSize}">
            <!-- 다음 목록 시작 번호로 이동 -->
            <li><a href="#">&gt;</a></li>
  
            <!-- 끝 페이지로 이동 -->
            <li><a href="#">&gt;&gt;</a></li>
          </th:block>
        </ul>
      </section>

    </section>

    <section class="content-section">
      <h2>팔로우</h2>

      <section class="follow-div">

        <!-- 팔로우작가 -->
        <th:block th:each= "artist : ${followList}" th:object="${artist}">
          <div class="following">
            <img th:src="*{artistProfile}" alt="사진" class="artist-img" th:data-artist-no="*{memberNo}">
            <p th:text="*{artistNickname}">작가명</p>
          </div>
        </th:block>

      </section>

      <section th:if= "${followPagination}" class="pagination-area">

        <ul class="pagination" th:object="${followPagination}">

          <!-- 페이지 변경 foward -->
          <!-- 이제 10페이지 넘어가면 페이지 넘기는 버튼이 나올예정 -->
          <th:block th:if= "*{maxPage > pageSize}">
            <!-- 첫 페이지로 이동 -->
            <li><a href="#">&lt;&lt;</a></li>
  
            <!-- 이전 목록 마지막 번호로 이동 -->
            <li><a href="#">&lt;</a></li>
          </th:block>

          <!-- 특정 페이지로 이동 -->
          <th:block th:each= "i:*{#numbers.sequence(startPage, endPage)}">

            <!-- 현재 보고있는 페이지 -->
            <li th:if= "${i} == *{currentPage}">
              <a class="current" th:text="${i}">현재페이지</a>
            </li>
  
            <!-- 보고있지 않은 페이지 -->
            <li th:unless= "${i} == *{currentPage}">
              <a href="#" th:text="${i}">이동할 수 있는 페이지</a>
            </li>
            
          </th:block>

          <th:block  th:if= "*{maxPage > pageSize}">
            <!-- 다음 목록 시작 번호로 이동 -->
            <li><a href="#">&gt;</a></li>
  
            <!-- 끝 페이지로 이동 -->
            <li><a href="#">&gt;&gt;</a></li>
          </th:block>
        </ul>
      </section>
    </section>
    
    
  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
  <script src="/js/myPage/followAndWish.js"></script>
  <script th:inline="javascript">
    const memberNo = /*[[${session.artistLogin != null} ? ${session.artistLogin.memberNo} : ${session.memberLogin.memberNo}]]*/ "defaultMemberNo";
  </script>

</body>
</html>