<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화사 :: 愛 :: 화공</title>
    <th:block th:replace= "~{common/common :: cssLinks}"></th:block>
    <link rel="stylesheet" href="/css/myPage/onequestion.css">
  </head>
  <body>
  <script src="https://kit.fontawesome.com/8695e357e4.js" crossorigin="anonymous"></script>
  <th:block th:replace= "~{common/common :: headerLinks}"></th:block>

  <main id="myPage-main" class="myPage-main">
    <h1>1:1 문의</h1>

    <section class="inquiryInsert">
      <div id="insertBtn" class="member-hov">1:1 문의 남기기</div>
      <div class="detail display-none" id="insertQuestionBox">
        <!-- 문의 종류목록 -->
        <select name="questionCategoryNo" id="questionCategoryNo">
          <th:block th:each="questionCategory : ${categoryList}" th:object="${questionCategory}">
            <option th:value="*{questionCategoryNo}" th:text="*{questionCategoryName}">일반문의</option>
          </th:block>
        </select>
        <textarea
         name="questionContent"
         id="questionContent"
         placeholder="1:1 문의 내용"></textarea>
        <div id="insertQuestion" class="member-hov">작성완료</div>
      </div>
    </section>
    <section id="onequestion" class="inquiry-section">
      <ul class="inquiry-list">

        <!-- 문의목록 -->
        <th:block th:if= "${questionList}" th:each= "question : ${questionList}" th:object="${question}">
          <li class="inquiry-item">
            <div>
              <span class="icon">&#9654;</span>
              <span class="content" th:text="*{questionCategoryName}">1 : 1 문의 내용</span>
            </div>
            <div class="detail display-none">
              <div th:text="|문의하신 날자 : *{questionDate}|">2024-11-14</div>
              <div th:text="*{questionContent}" class="content-detail">문의내용 상세보기</div>
            </div>
            <div class="detail display-none">
              <div th:if= "*{questionAnsFl == 'N'}">문의중 입니다</div>
              <div th:unless= "*{questionAnsFl == 'N'}" th:text="*{questionAnswer}">답변내용 상세보기</div>
              <section class="inquiryInsert">
                <div class="deleteBtn member-hov" th:data-question-no="*{questionNo}">삭제하기</div>
              </section>
            </div>
          </li>
        </th:block>
        <th:block th:if= "${#lists.isEmpty(questionList)}">
          <li>현재 문의하신 내용이 없습니다.</li>
        </th:block>

      </ul>
    </section>

    <section th:if= "${pagination}" class="pagination-area">

      <ul class="pagination" th:object="${pagination}" th:if= "*{endPage>0}">

        <li><a href="#">&lt;&lt;</a></li>
        <li><a href="#">&lt;</a></li>

          <!-- 특정 페이지로 이동 -->
          <th:block th:each= "i:*{#numbers.sequence(startPage, endPage)}">
  
            <!-- 현재 보고있는 페이지 -->
            <li th:if= "${i} == *{currentPage}">
              <a class="current" th:text="${i}">현재페이지</a>
            </li>
  
            <!-- 보고있지 않은 페이지 -->
            <li th:unless= "${i} == *{currentPage}">
              <a href="#" th:text="${i}">이동할 수 있는 페이지</a>
            </li>
  
          </th:block>

        <li><a href="#">&gt;</a></li>
        <li><a href="#">&gt;&gt;</a></li>
      </ul>
    </section>
    
  </main>

  <th:block th:replace= "~{common/footer}"></th:block>
  <script src="/js/myPage/onequestion.js"></script>
  <script th:inline="javascript">
    const memberNo = /*[[${session.artistLogin != null} ? ${session.artistLogin.memberNo} : ${session.memberLogin.memberNo}]]*/ "defaultMemberNo";
  </script>

</body>
</html>