<!-- alert -->
<link rel="stylesheet" href="/css/myPage/popup.css">
<section class="msg-body mc-body  display-none">
  <section>
    <section class="msg-head">
      <div class="msg-logo">
      </div>
      <div><span id="msg-closeBtn">X</span></div>
    </section>
    <section class="msg-main">
      <pre id="msg-content"></pre>
    </section>
    <section class="msg-foot">
      <div></div>
      <div class="msg-logo">
      </div>
    </section>
  </section>
</section>

<script>
  const alertM = (message)=>{
    const massageWindow = document.querySelector(".msg-body");
    const contentBox = document.querySelector("#msg-content");
    contentBox.innerText = message;
    massageWindow.classList.remove("display-none");
    
    const msgCloseButton = document.querySelector("#msg-closeBtn");
    msgCloseButton.addEventListener("click", () => {
      massageWindow.classList.add("display-none");
    });
  };
</script>