<!-- alert -->
<link rel="stylesheet" href="/css/myPage/popup.css">
<section class="msg-body mc-body  display-none">
  <section>
    <section class="msg-head">
      <div class="msg-logo">
      </div>
      <div><span id="msg-closeBtn">X</span></div>
    </section>
    <section class="msg-main">
      <pre id="msg-content"></pre>
    </section>
    <section class="msg-foot">
      <div></div>
      <div class="msg-logo">
      </div>
    </section>
  </section>
</section>

<script th:inline="javascript">
  const messageCheck = /*[[${message} ? true : false]]*/ false;
  const messageContent = /*[[${message}]]*/ "메시지내용";
  const sessionMessage = /*[[${session.message}]]*/ "";
</script>
<script>
  const alertM = (message)=>{
    const massageWindow = document.querySelector(".msg-body");
    const contentBox = document.querySelector("#msg-content");
    contentBox.innerText = message;
    massageWindow.classList.remove("display-none");
    
    const msgCloseButton = document.querySelector("#msg-closeBtn");
    msgCloseButton.addEventListener("click", () => {
      massageWindow.classList.add("display-none");
    });
  };
  document.querySelector("#msg-closeBtn").addEventListener("click", () => {
    document.querySelector(".msg-body").classList.add("display-none");
  });
  document.addEventListener("DOMContentLoaded", ()=>{
    // 전달받은 메시지가 있으면 메시지창 띄우기
    if(messageCheck) {
      alertM(messageContent);
    }
    // 세션메세지 띄우기
    if(sessionMessage){
      alertM(sessionMessage);
      fetch('/popup/removeMessage', { method: 'POST' });
    }
  });
</script>