<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화사 :: 愛 :: 화공</title>
    <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
    <link rel="stylesheet" href="/css/myPage/progressiveAuction.css">
  </head>
  <body>
  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main id="myPage-main" class="myPage-main">
    <h1>경매진행목록</h1>

    <section class="content-counter">
      <p>낙찰 현황 : </p>
      <p id="bidStatus"></p>
      <p>참여 현황 : </p>
      <p id="joinStatus"></p>
    </section>

    <section id="content-section">

      <!-- 내가 낙찰받은 경매 -->
      <th:block th:if= "${buyList}" th:each= "piece:${buyList}" th:object="${piece}">
        <div class="content-div">
          <div class="image-container">
            <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
            <div class="loader"></div>
          </div>
          <div>
            <h3 th:text="*{pieceTitle}">무제</h3>
            <h4 th:text="*{artistNickname}">작가명</h4>
            <p th:text="|구매일 *{startDate}|">11/28(목)</p>
            <p th:text="|경매액 \₩*{finalPrice}|">경매액 ₩50,000,000</p>
            <p th:text="|*{sizeX} x *{sizeY}|">15 x 30</p>
            <div class="piece-payment"
              th:data-piece-no="*{pieceNo}">입금하기</div>
          </div>
        </div>
      </th:block>

      <!-- 내가 참여중인 경매 -->
      <th:block th:if= "${auctionList}" th:each= "piece:${auctionList}" th:object="${piece}">
        <div class="content-div">
          <div class="image-container">
            <img th:src="*{pieceRename}" alt="사진" class="content-img" onload="hideLoader(this)">
            <div class="loader"></div>
          </div>
          <div>
            <h3 th:text="*{pieceTitle}">무제</h3>
            <h4 th:text="*{artistNickname}">작가명</h4>
            <p th:text="|내 입찰액 \₩*{endPrice}|" class="current-price" th:data-piece-no="*{pieceNo}">내 입찰액 ₩50,000,000</p>
            <p th:text="|*{sizeX} x *{sizeY}|">15 x 30</p>
            <div class="piece-detales" th:data-piece-no="*{pieceNo}">상세보기</div>
          </div>
        </div>
      </th:block>
      
      <th:block th:if="${auctionList.size() == 0 and buyList.size() == 0}">
        <div class="no-content">
          <p>현재 참여중인 경매건이 없습니다.</p>
        </div>
      </th:block>

    </section>
    
  </main>

  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
  <script th:inline="javascript">
    const memberNo = /*[[${session.artistLogin != null} ? ${session.artistLogin.memberNo} : ${session.memberLogin.memberNo}]]*/ "defaultMemberNo";
  </script>
  <script src="/js/myPage/progressiveAuction.js"></script>

</body>
</html>