/* 기본 공통 스타일 */
body {
  margin-left: 15%; /* 사이드바 너비만큼 왼쪽 여백 설정 */
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 제목 */
.request-section {
  color: #414141;
  margin-left: 7%;
  width: 30%;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
}

h3{
  font-weight: 500;
  color: #414141;
  margin-bottom: 2%;
}

/* 버튼 공통 스타일 */
button {
  padding: 2% 5%;
  border: 1px solid #5e7c71;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  color: #414141;
  background-color: #ffffff;
}

button:hover {
  background-color: #5e7c71;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* 대시보드 상단 버튼 컨테이너 */
.tab-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5%;
  margin: 5% 0% 0% 0%;
}

/* 대시보드 상단 버튼 */
.tab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: #414141;
  background-color: #ffffff;
  border: 1px solid #5e7c71;
  font-size: 16px;
  margin-right: 8%;
}

.tab-btn:hover {
  background-color: #5e7c71;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* 대시보드 */
.main-content {
  width: 90%;
  margin-left: 5%
}

.content-row {
  display: flex;
  justify-items: center;
  margin: 1% 0 1% 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* ----------------------------------------------------------------------- */
/* 대시보드 */
.tab-content {
  padding: 2%;
  width: 100%;
  display: none;
}

.tab-content.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-container {
  height: 100%;
  width: 50%;
  border: 1px solid #dddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.data-table {
  width: 46%;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 2% 0 2%;
  flex-wrap: wrap;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table thead {
  background-color: #818181;
  color: white;
  font-weight: 500;
}

.data-table tbody tr {
  border-bottom: 1px solid #ddd;
  color: #414141;
  font-weight: 500;
}

.data-table tbody td,
.data-table thead th {
  text-align: left;
  padding: 2%;
  font-weight: 500;
}

#visitor table {
  width: 100%;
  border-collapse: collapse;
}

#visitor th,
#visitor td {
  padding: 2%;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#visitor th {
  background-color: #818181;
  padding: 2%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */
/* 작가 및 회원 관리 스타일 */
/* 작가 및 회원 관리 헤더 */
.memberManage-container{
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button-group {
  margin-right: 10%;
  width: 30%;
  text-align: right;
}

/* 내부 버튼 */
.artist-btn {
  padding: 2% 5%;
  border: 1px solid #5e7c71;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  color: #414141;
  background-color: #ffffff;
}

.artist-btn:hover {
  background-color: #5e7c71;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* 작가 및 회원 관리 컨테이너 */
.writer-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* 작가 및 회원 관리 내부 컨테이너 */
.writer-row>.member-list {
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 작가 리스트 */
.artist-item {
  display: flex;
  align-items: center;
  padding: 2% 0 2% 2%;
  border: 1px solid #5e7c71;
  border-radius: 1px;
  width: 48%;
  margin-bottom: 3%;
  justify-content: space-between;
}

.artist-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

/* 관리 테이블 내부 컨테이너 */
.artist-info h3 {
  color: #5e7c71;
  font-size: 18px;
}

.artist-info p {
  color: #414141;
  width: 100%;
}

.artist-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  margin-right: 2%;
  margin-left: 40%;
}

/* 회원 리스트 */
.summary-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
  justify-content: center;
  flex-direction: column;
}

.member-summary {
  display: flex;
  align-items: center;
  padding: 2% 0 2% 2%;
  border: 1px solid #5e7c71;
  border-radius: 1px;
  width: 48%;
  margin-bottom: 3%;
  justify-content: space-between;
}

.summary-item h3 {
  color: #5e7c71;
  font-size: 18px;
  margin-bottom: 2%;
  text-align: left;
  width: 100%;
}

.summary-item p {
  color: #414141;
  text-align: left;
  width: 100%;
}

.summary-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  margin: -6% 0% 0% 80%;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* 콘텐츠 관리 */
.contents-manage {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
}

/* 내부 컨테이너 */
.content-card {
  display: flex;
  align-items: center;
  border: 1px solid #5e7c71;
  border-radius: 2px;
  padding: 2%;
  width: 45%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0% 0% 4% 5%;
}

/* 내부 컨테이너 내용 */
.content-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-right: 15px;
}

.content-info {
display: flex;
flex-direction: column;
margin: 0% 0% 0% 45%;
}

.content-info h2 {
  font-size: 20px;
  padding: 10% 0% 10% 0%
}

.content-info p {
  font-size: 14px;
  color: #414141;
  padding: 10% 0% 10% 0%
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 25px;
  max-width: 1400px;
}

/* --------------------------------------------------------------------------------------------------------- */
/* 승인 요구 내역 */
.request-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 5%;
}

.request-card {
  border: 1px solid #5e7c71;
  border-radius: 2px;
  width: 12%;
  padding: 1%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-image {
  width: 157px;
  height: 157px;
  border-radius: 8px;
  margin-bottom: 1%;
  object-fit: cover;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10% 0% 4% 0%;
}

.info h1 {
  font-size: 20px;
  color: #5e7c71;
  margin-bottom: 4%;
  text-align: center;
}

.detail-button {
  margin-bottom: 5%;
  width: 74%;
}

/* ------------------------------------------------------------------------- */
/* 공지사항 */
.notice-section {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0% 10% 10% 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 작성 컨테이너 */
.notice-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* 작성 버튼 */
.add-button{
  display: flex;
  align-items: flex-end;
  margin-right: 6%;
}

/* 토글 클릭 컨테이너 */
.notice-list {
  list-style-type: none;
  margin-top: 2%;
}

/* 토글 내부 컨테이너 */
.notice-item {
  border-bottom: 1px solid #5e7c71;
  padding: 1% 1%;
}

/* 토글 내부 내용 */
.notice-answer {
  font-size: 16px;
  color: #414141;
  margin: 2% 0% 5% 0%;
  text-align: center;
}

/* 토글 내부 버튼 */
.notice-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* li 태그 관련 */
.notice-row {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notice-question {
  font-size: 17px;
  color: #3A4F48;
}

.-noticelist {
  list-style: none; /* 목록 기호 제거 */
  padding: 0; /* 내부 여백 제거 */
  margin: 0; /* 외부 여백 제거 */
}

.-noticelist {
  list-style: none; /* 목록 기호 제거 */
  padding: 0;       /* 내부 여백 제거 */
  margin: 0;        /* 외부 여백 제거 */
}
.notice-answer {
  white-space: pre-line;
}


/* ------------------------------------------------------------------------- */
/* 작가 환전 */
.sales-section {
  max-width: 70vw;
  margin: 0% 0% 0% 10%;
  padding: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.writer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #414141;
}

.status-info .count,
.status-info>#total-list{
  user-select: none;
}

.status-info .count:hover,
.status-info>#total-list:hover{
  cursor: pointer;
}

.search-section {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.search-box,
.month-select {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box label,
.month-select label {
  font-size: 16px;
  color: #3A4F48;
  width: 40%;
}

.search-box input,
.month-select select {
  padding: 1%;
  border: 1px solid #5e7c71;
  border-radius: 2px;
  font-size: 14px;
  width: 100%;
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
}

.sales-table th,
.sales-table td {
  padding: 1%;
  text-align: center;
  border-bottom: 1px solid #5e7c71;
  color: #414141;
}

.sales-table th {
  background-color: #5e7c71;
  color: white;
  font-weight: 500;
}

.sales-table tbody tr:nth-child(2n) {
  background-color: #f9f9f9;
}

.sales-table tbody tr:hover {
  background-color: #f1f1f1;
}

.sales-table tr>td:nth-child(6){
  text-align: right;
  padding-right: 4%;
}

.status-info {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.info-box {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #5e7c71;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.info-box .count {
  margin-left: 5px;
  padding: 4px 8px;
  background-color: white;
  color: #5e7c71;
  border-radius: 4px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------- */
/* 1대1문의 토글 */
/* 1:1 문의 메인 컨테이너*/
.inquiry-section {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0% 10% 10% 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ul, li 태그 앞에 있는거 지움 */
.inquiry-list {
  list-style-type: none;
  border-radius: 8px;
}

/* 1 : 1 문의 정렬 방식 */
.filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /* 1 : 1 정렬 방식 */
  #questionFilter{
  padding: 0.5%;
  margin-right: 10%;
}

/* 문의 항목 스타일 */
.inquiry-row {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* 문의 항목 스타일 */
.inquiry-row {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #414141;
}

/* 토글 아이콘 */
.icon {
  margin-right: 1%;
  font-size: 20px;
  color: #414141;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 문의 내용과 답변 내용 간격 */
  margin-top: 2%;
}

/* 문의 내용 스타일 */
.inquiry-content {
  font-size: 14px;
  color: #414141;
  border: 1px solid #5e7c71;
  padding: 4%;
  margin-top: 1%;
  text-align: center;
  height: 50%;
}

/* 답변 내용 스타일 */
.response-content {
  font-size: 14px;
  color: #414141;
  border: 1px solid #5e7c71;
  padding: 4%;
  margin-top: 1%;
  text-align: center;
  height: 50%;
}

.label {
  color: #414141;
  margin-top: 1%;
}

.inquiry-item {
  align-items: center;
  padding: 2% 2%;
  border-bottom: 1px solid #ddd;
}

.inquiry-item:last-child {
  border-bottom: none;
}

.content {
  font-size: 20px;
}

/* ---------------------------------------------------------------------------- */
/* 페이지네이션 */
.pagination-box {
  display: flex;
  justify-content: center;
  /* 중앙 정렬 */
  margin-top: auto;
  /* 남은 공간만큼 아래로 이동 */
  width: 100%;
  margin-bottom: 50px;

}

.pagination-box>.page-btn {
  margin: 0 10px; /* 페이지 번호 간격 조절 (양쪽을 넓힘) */
  cursor: pointer; /* 마우스 포인터를 클릭 가능으로 변경 */
  padding: 5px; /* 패딩 추가하여 클릭 영역 확대 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 30px; /* 고정된 너비 */
  height: 30px; /* 고정된 높이 */
  transition: color 0.3s; /* 부드러운 색상 전환 */
  text-align: center;
}

.pagination-box>.page-btn:hover {
  border-radius: 50%;
  background-color: #5e7c71; /* 원형의 배경색 */
  color: #fff; /* 글자색 흰색 */
}

/* 페이지 네이션 색상 */
.pagination-box>.page-btn.active {
  border-radius: 50%;
  background-color: #5e7c71; /* 원형의 배경색 */
  color: #fff; /* 글자색 흰색 */
  font-weight: bold;
}

.pagination-box a {
  color: inherit;
  /* 부모 요소의 색상으로 설정 */
  text-decoration: none;
  margin: 0 10px; /* 링크 간격 조절 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  padding: 5px; /* 패딩 추가하여 클릭 영역 확대 */
}

#noticeGrid {
  display: block !important;
  visibility: visible !important;
  }


