/* 전체 레이아웃 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 250px 0px 250px 299px;
  background-color: white;
}
.exit-btn {
  width: 140%;
  margin-bottom: 20%;
  border: 1px solid #ffffff;
}

button{
cursor: pointer;
background-color: #ffffff;
border: 1px solid #5e7c71;
color: #414141;
font-size: 14px;
border-radius: 3px;
padding: 0.5em 1em;
}
/* 컨테이너 섹션 스타일링 */
.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.title {
  font-size: 24px;
  color: #5e7c71;
  margin-top: 100px;
}

.save-button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1050px;
  background-color: #ffffff;
  color: #5e7c71;
  border: 1px solid #5e7c71;

}

.save-button:hover {
  background-color: #5e7c71;
  color: #ffffff;
  border: 1px solid #5e7c71;
}

.submit-button{
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 220px;
  margin-top: 25px;
  width: 200px;
  background-color: #ffffff;
  color: #5e7c71;
  border: 1px solid #5e7c71;
}
.submit-button:hover {
  background-color: #5e7c71;
  color: #ffffff;
  border: 1px solid #5e7c71;
}

.write-button{
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 230px;
  margin-top: 25px;
  width: 200px;
  background-color: #ffffff;
  color: #5e7c71;
  border: 1px solid #5e7c71;
}
.write-button:hover {
  background-color: #5e7c71;
  color: #ffffff;
  border: 1px solid #5e7c71;
}


/* 폼 섹션 스타일링 */
.notice-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 16px;
  margin-top: 16px;
  font-weight: 500;
  color: #414141;
  font-size: 17px;
}

.input-title {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 17px;
}

.input-content {
  width: 100%;
  height: 550px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  resize: vertical;
  font-size: 16px;
  font-family: inherit;
}

/* 입력 필드 포커스 스타일 */
.input-title:focus,
.input-content:focus {
  outline: none;
  border-color: #556B2F;
  box-shadow: 0 0 0 2px rgba(85, 107, 47, 0.1);
}

