.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  padding: 20px;
  height: 400px;
  width: 700px;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
}

.popup-section {
  margin-top: 20px;
}

.report-input {
  width: 600px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 20px;
}

.report-detail {
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.6;
  color: #666;
  width: 600px;
  margin-top: 20px;
}

.popup-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  background-color: #5c7c77;
  color: white;
}

.btn:hover {
  background-color: #4a635f;
}

.display-none {
  display: none !important;
}

.popup-close-btn {   position: absolute;   top: 10px;   right: 10px;   background: none;   border: none;   font-size: 20px;   cursor: pointer;   color: #333; }  .popup-close-btn:hover {   color: #f00; /* Hover 시 색상 변경 */ }