<main id="member-findId" class="member-main" th:fragment="findId">

  <h3 style="margin-top: 100px;">아이디 찾기</h3>

  <!-- 전화전호 -->
  <div class="signUp-sec">
    <div>전화번호</div>
    <label for="findId-inputPh">
      <input type="text" id="findId-inputPh" placeholder="'-'을 제외한 숫자만 입력해 주세요">
      <div class="member-hov" id="findId-phCheck">인증번호</div>
    </label>
  </div>

  <!-- 전화전호 인증 확인 -->
  <div class="signUp-sec">
    <div>전화번호 인증 확인</div>
    <label for="findId-inputPhC">
      <input type="text" id="findId-inputPhC" placeholder="인증번호를 입력해 주세요.">
      <div id="findId-count" class="signUp-count"></div>
      <div class="member-hov" id="findId-keyCheck">인증확인</div>
    </label>
  </div>

</main>