<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
  <link rel="stylesheet" href="/css/member-sign/signUp.css">
</head>
<body>
  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main id="member-main" class="member-main">

    <h3 style="margin-top: 100px;">아이디 찾기</h3>

    <!-- 전화전호 -->
    <div class="signUp-sec">
      <div>전화번호</div>
      <label for="inputPh">
        <input type="text" id="inputPh" placeholder="'-'빼고 숫자만 입력">
        <div class="member-hov" id="phCheck">인증번호</div>
      </label>
    </div>

    <!-- 전화전호 인증 확인 -->
    <div class="signUp-sec">
      <div>전화번호 인증 확인</div>
      <label for="inputPhC">
        <input type="text" id="inputPhC" placeholder="인증번호를 입력해 주세요.">
        <div id="signUp-count"></div>
        <div class="member-hov" id="keyCheck">인증확인</div>
      </label>
    </div>
    

    <section>
      <a href="/member/login" class="member-hov member-btnA">로그인</a>
      <a href="/member/login/findingPasswords" class="member-hov member-btnA">비밀번호 찾기</a>
    </section>


  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
  <script src="/js/member-sign/findingIdPw.js"></script>
</body>
</html>