<main id="member-logIn" class="member-main" th:fragment="login">
  <h3>로그인</h3>

  <!-- 아이디 -->
  <div class="logIn-sec">
    <h4>아이디</h4>
    <label for="logIn-inputId">
      <input type="text" id="logIn-inputId" placeholder="아이디를 입력해 주세요.">
    </label>
  </div>

  <!-- 비밀번호 -->
  <div class="logIn-sec">
    <h4>비밀번호</h4>
    <label for="logIn-inputPw">
      <input type="password" id="logIn-inputPw" placeholder="비밀번호 입력">
    </label>
  </div>

  <div class="member-hov" id="logIn-btn">로그인</div>

  <div style="display: flex; flex-direction: row;">
    <form action="/member/login" method="post" style="margin-left: 10px;"><input type="hidden" name="memberId" value="user01"><input type="hidden" name="memberPw" value="pass01!"><button class="member-hov" style="width: 50px;">1</button></form>
    <form action="/member/login" method="post" style="margin-left: 10px;"><input type="hidden" name="memberId" value="artist01"><input type="hidden" name="memberPw" value="pass01!"><button class="member-hov" style="width: 50px;">2</button></form>
    <form action="/member/login" method="post" style="margin-left: 10px;"><input type="hidden" name="memberId" value="manage01"><input type="hidden" name="memberPw" value="pass01!"><button class="member-hov" style="width: 50px;">3</button></form>
  </div>
</main>