<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/member-sign/signUp.css">
  <th:block th:replace= "~{/common/common.html :: cssLinks}"></th:block>
</head>
<body>

  <th:block th:replace= "~{/common/common.html :: headerLinks}"></th:block>

  <main id="logIn-main" class="member-main">
    <h3>로그인</h3>

    <!-- 아이디 -->
    <div class="logIn-sec">
      <h4>아이디</h4>
      <label for="inputId">
        <input type="text" id="inputId" placeholder="아이디를 입력해 주세요.">
      </label>
    </div>

    <!-- 비밀번호 -->
    <div class="logIn-sec">
      <h4>비밀번호</h4>
      <label for="inputPw">
        <input type="password" id="inputPw" placeholder="비밀번호 입력">
      </label>
    </div>

    <div class="member-hov" id="logIn-btn">로그인</div>

    <div>
      <a href="/member/login/findingId">아이디 찾기</a>
      |
      <a href="/member/login/findingPasswords">비밀번호 찾기</a>
      |
      <a href="/member/signUp">회원가입</a>
    </div>

    <div style="display: flex; flex-direction: row;">
      <form action="/member/login" method="post" style="margin-left: 10px;"><input type="hidden" name="memberId" value="user01"><input type="hidden" name="memberPw" value="pass01!"><button class="member-hov" style="width: 50px;">1</button></form>
      <form action="/member/login" method="post" style="margin-left: 10px;"><input type="hidden" name="memberId" value="artist01"><input type="hidden" name="memberPw" value="pass01!"><button class="member-hov" style="width: 50px;">2</button></form>
      <form action="/member/login" method="post" style="margin-left: 10px;"><input type="hidden" name="memberId" value="memberId"><input type="hidden" name="memberPw" value="memberPw"><button class="member-hov" style="width: 50px;">3</button></form>
    </div>
  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
  
  <script src="/js/member-sign/logIn.js"></script>

</body>
</html>