<main id="member-signUp" class="member-main" th:fragment="signUp">

  <h3>회원가입</h3>

  <!-- 이름 -->
  <div class="signUp-sec">
    <div>이름</div>
    <label for="signUp-inputName">
      <input type="text" id="signUp-inputName" placeholder="이름 입력">
    </label>
    <div id="signUp-nameMessage"></div>
  </div>

  <!-- 아이디 -->
  <div class="signUp-sec">
    <div>아이디</div>
    <label for="signUp-inputId">
      <input type="text" id="signUp-inputId" placeholder="아이디를 입력해 주세요.">
      <div class="member-hov" id="signUp-idCheck">중복검사</div>
    </label>
    <div id="signUp-idMessage"></div>
  </div>

  <!-- 이메일 -->
  <div class="signUp-sec">
    <div>이메일</div>
    <label for="signUp-inputEmail">
      <input type="text" id="signUp-inputEmail" placeholder="이메일을 입력해 주세요.">
    </label>
    <div id="signUp-emailMessage"></div>
  </div>

  <!-- 비밀번호 -->
  <div class="signUp-sec">
    <div>비밀번호</div>
    <label for="signUp-inputPw">
      <input type="password" id="signUp-inputPw" placeholder="비밀번호 입력">
    </label>
    <div id="signUp-pwMessage"></div>
  </div>

  <!-- 비밀번호 확인 -->
  <div class="signUp-sec">
    <div>비밀번호 확인</div>
    <label for="signUp-inputPwC">
      <input type="password" id="signUp-inputPwC" placeholder="비밀번호를 확인해 주세요.">
    </label>
  </div>

  <!-- 전화전호 -->
  <div class="signUp-sec">
    <div>전화번호</div>
    <label for="signUp-inputPh">
      <input type="text" id="signUp-inputPh" placeholder="'-'빼고 숫자만 입력">
      <div class="member-hov" id="signUp-phCheck">인증번호</div>
    </label>
    <div id="signUp-phMessage"></div>
  </div>

  <!-- 전화전호 인증 확인 -->
  <div class="signUp-sec">
    <div>전화번호 인증 확인</div>
    <label for="signUp-inputPhC">
      <input type="text" id="signUp-inputPhC" placeholder="인증번호를 입력해 주세요.">
      <div id="signUp-count" class="signUp-count"></div>
      <div class="member-hov" id="signUp-keyCheck">인증확인</div>
    </label>
  </div>

  <div class="member-hov" id="signUp-btn">가입하기</div>
  
</main>