<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.plklj.artists.mapper.ArtistsMapper">


	<!-- 신진 작가 조회 -->
	<select id="getRookieArtists" resultType="Artist">
		SELECT
			A.MEMBER_NO,
			A.ARTIST_PROFILE,
			A.ARTIST_NICKNAME
		FROM 
			ARTIST A
		JOIN MEMBER M ON (A.MEMBER_NO = M.MEMBER_NO)
		WHERE
			M.MEMBER_DEL_FL = 'N'
		AND
			ARTIST_REG = 'Y'
		ORDER BY
			A.MEMBER_NO ASC
	</select>
	
	<!-- 인기 작가 조회 -->
	<select id="getPopularArtists" resultType="Artist">
		SELECT
			A.MEMBER_NO,
			A.ARTIST_PROFILE,
			A.ARTIST_NICKNAME,
			A.ARTIST_NICKNAME,
			COUNT(F.ARTIST_NO) AS FOLLOW_COUNT
		FROM
			ARTIST A
		LEFT JOIN FOLLOW F ON (A.MEMBER_NO = F.ARTIST_NO )
		JOIN MEMBER M ON (A.MEMBER_NO = M.MEMBER_NO)
		
		WHERE 
			M.MEMBER_DEL_FL = 'N'
		AND
			ARTIST_REG = 'Y'
		GROUP BY A.MEMBER_NO, A.ARTIST_PROFILE, A.ARTIST_NICKNAME, M.MEMBER_NAME
		ORDER BY FOLLOW_COUNT DESC 
	</select>
	
	<!-- 전체 작가 조회 -->
	<select id="getAllArtists" resultType="Artist">
		SELECT
			A.MEMBER_NO,
			A.ARTIST_PROFILE,
			A.ARTIST_NICKNAME
		FROM
			ARTIST A
		JOIN MEMBER M ON (A.MEMBER_NO = M.MEMBER_NO)
		
		WHERE
			M.MEMBER_DEL_FL = 'N'
		AND
			ARTIST_REG = 'Y'
	
	</select>
	
	
	<select id="getTotalArtistCount" resultType="_int">
		SELECT COUNT(*)
		FROM ARTIST
	</select>
	
	<select id="getArtistDetail" resultMap="artistResultMap">
		SELECT
			A.MEMBER_NO, A.ARTIST_PROFILE, A.ARTIST_NICKNAME,
			  LISTAGG(W.WORK_DETAIL, ', ') WITHIN GROUP (ORDER BY W.WORK_DETAIL) AS WORK_DETAILS,
			
			(SELECT COUNT(*) FROM FOLLOW WHERE MEMBER_NO = A.MEMBER_NO) AS FOLLOW_COUNT,
			
			(SELECT COUNT(*)
				FROM FOLLOW
				WHERE MEMBER_NO = #{memberNo}
				AND   ARTIST_NO = #{artistNo}) AS FOLLOW_CHECK 
			
		FROM 
			ARTIST A
		LEFT JOIN 
			MEMBER M ON (A.MEMBER_NO = M.MEMBER_NO)
		LEFT JOIN 
			WORK W ON (A.MEMBER_NO = W.MEMBER_NO)
		WHERE
			A.MEMBER_NO = #{artistNo}
		AND 
			M.MEMBER_DEL_FL = 'N'
		GROUP BY 
  			A.MEMBER_NO, A.ARTIST_PROFILE, A.ARTIST_NICKNAME
	</select>
	
	
	
	
	<select id="getArtistWorks" resultType="Artist">
		SELECT
			P.PIECE_NO, P.PIECE_TITLE, 
			P.SIZE_X, P.SIZE_Y,
			P.PIECE_RENAME, PS.SELL_PRICE,
			P.PIECE_STATUS
		FROM
			PIECE P
		LEFT JOIN
			PIECE_SELL PS ON (P.PIECE_NO = PS.PIECE_NO)
		WHERE
			P.MEMBER_NO = #{memberNo}
		AND 
			P.PIECE_STATUS IN ('N', 'F', 'A', 'S')
		ORDER BY
			<choose>
				<when test="sort == 'name'">P.PIECE_TITLE</when>
				<when test="sort == 'price'">PS.SELL_PRICE</when>
				<otherwise>P.PIECE_NO</otherwise>
			</choose>
			<if test="order == 'asc'">ASC</if>
			<if test="order == 'desc'">DESC</if>
	</select>
	
	<select id="getArtistWorkCount" resultType="_int">
		SELECT COUNT(*)
		FROM
			PIECE
		WHERE MEMBER_NO = #{memberNo}
		AND   PIECE_STATUS IN ('N', 'F', 'A', 'S')
	</select>
	
	
	<select id="checkFollow" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW
		WHERE 
			MEMBER_NO = #{memberNo}
		AND 
			ARTIST_NO = #{artistNo}
	</select>
	
	<insert id="insertFollow">
		INSERT INTO FOLLOW
		VALUES(#{memberNo}, #{artistNo})
	</insert>
	
	<insert id="deleteFollow">
		DELETE FROM FOLLOW
		WHERE MEMBER_NO = #{memberNo}
		AND 
			ARTIST_NO = #{artistNo}
	</insert>
	
	<select id="getFollowCount" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<resultMap type="Artist" id="artistResultMap">
    <!-- Primary Key 설정 -->
    <id property="memberNo" column="MEMBER_NO"/>
    
    <!-- 일반 필드 설정 -->
    <result property="artistProfile" column="ARTIST_PROFILE"/>
    <result property="artistNickname" column="ARTIST_NICKNAME"/>
    <result property="followCount" column="FOLLOW_COUNT"/>
    <result property="followCheck" column="FOLLOW_CHECK"/>
    
    <!-- 컬렉션 설정 -->
    <collection 
        property="workDetails"
        ofType="string"
        column="MEMBER_NO"
        select="selectWorkList"
    />
</resultMap>

<select id="selectWorkList" resultType="string">
    SELECT
        WORK_DETAIL
    FROM
        WORK
    WHERE
        MEMBER_NO = #{memberNo}
</select>

	
	

				









</mapper>