<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.plklj.auction.mapper.AuctionMapper">
	
	<select id="upCommingList" resultType="Piece">
		 SELECT
	        P.PIECE_NO,
	        P.PIECE_TITLE,
	        P.PIECE_RENAME,
	        P.REG_DATE,
	        PA.START_DATE
	    FROM
	        "PIECE" P
	    JOIN
	        "PIECE_AUCTION" PA
	    ON
	        P.PIECE_NO = PA.PIECE_NO
	    WHERE
	        P.PIECE_STATUS = 'A'
	        AND
	        P.PIECE_TYPE = 2
	    ORDER BY
	        P.REG_DATE ASC 
	    FETCH FIRST 3 ROWS ONLY
	</select>
	
	
	<select id="ongoingDetail" resultType="Piece">
	    SELECT
	        P.PIECE_NO,
	        P.PIECE_TITLE,
	        P.PIECE_RENAME,
	        PA.START_DATE,
	        (SELECT COUNT(*) FROM "WISH" WHERE PIECE_NO = #{pieceNo} AND MEMBER_NO = #{loginNo}) AS LIKE_CHECK,
          A.ARTIST_NICKNAME
    	 FROM
            "PIECE" P
        JOIN
            "PIECE_AUCTION" PA
        ON
            P.PIECE_NO = PA.PIECE_NO
        JOIN
            "ARTIST" A
        ON
            P.MEMBER_NO = A.MEMBER_NO
	    WHERE
	        P.PIECE_NO = #{pieceNo}
	</select>
	
	
	
	<select id="checkPieceLike" resultType="_int">
		SELECT 
			COUNT(*)
   		FROM 
   			"WISH"
   		WHERE 
   			PIECE_NO  = #{pieceNo}
 			AND
   			MEMBER_NO = #{loginNo}
	</select>
	
	
	
	<insert id="insertPieceLike">
		INSERT INTO "WISH"
   		VALUES( #{loginNo}, #{pieceNo})
	</insert>

	
	<insert id="deletePieceLike">
		DELETE FROM "WISH"
   		WHERE 
   			PIECE_NO  = #{pieceNo}
   			AND  
   			MEMBER_NO = #{loginNo}
	</insert>
	
	<select id="getLikeCount" resultType="_int">
		SELECT COUNT(*)
   		FROM "WISH"
   		WHERE
   		 PIECE_NO = #{pieceNo}
	</select>
	
	<select id="getLikeCheck" resultType="_int">
		  SELECT 
			  COUNT(*)
   		FROM 
   			"WISH"
   		WHERE 
   			PIECE_NO  = #{pieceNo}
 			AND
   			MEMBER_NO = #{loginNo}
	</select>
    
    
   <insert id="reportInsert" parameterType="Report">
        INSERT INTO REPORT
        VALUES(
            SEQ_REPORT_NO.NEXTVAL,
            #{memberNo},
            #{pieceNo},
            #{reportType},
            #{reportContent},
            DEFAULT, DEFAULT, DEFAULT
        )
    </insert>
    
    
    
</mapper>