<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.plklj.auction.mapper.AuctionMapper">
	
	
	<!-- ************ 예정경매 관련  ************ -->
  <!-- 
    PA.START_DATE <= SYSDATE 경매 시작일이 현재 날짜와 같거나 과거여야 함.
    PA.END_DATE >= SYSDATE 경매 종료일이 현재 날짜와 같거나 미래여야 함.
   -->
	<select id="upCommingList" resultType="Piece">
       	SELECT
			P.PIECE_NO,
		    P.PIECE_TITLE,
		    P.PIECE_RENAME,
		    P.REG_DATE,
		    PA.START_DATE,
		    PA.END_DATE
		FROM
		    PIECE_AUCTION PA
		JOIN
		    PIECE P
		ON
		    PA.PIECE_NO = P.PIECE_NO
		WHERE
		    P.PIECE_STATUS = 'A'
		    AND P.PIECE_TYPE = 2
		   	AND PA.START_DATE = TO_DATE(TO_CHAR(SYSDATE + 1 , 'YYYYMMDD'), 'YYYYMMDD')
	</select>
	
	<!-- 예정경매 상세페이지 -->
	<select id="upComiingDetail" resultType="Piece">
	    SELECT
	        P.PIECE_NO,
	        P.PIECE_TITLE,
	        P.PIECE_RENAME,
          P.PIECE_STATUS,
	        PA.START_DATE,
          PA.END_DATE,
	        (SELECT COUNT(*) FROM "WISH" WHERE PIECE_NO = #{pieceNo} AND MEMBER_NO = #{loginNo}) AS LIKE_CHECK,
          A.ARTIST_NICKNAME
    	 FROM
            "PIECE" P
        JOIN
            "PIECE_AUCTION" PA
        ON
            P.PIECE_NO = PA.PIECE_NO
        JOIN
            "ARTIST" A
        ON
            P.MEMBER_NO = A.MEMBER_NO
	    WHERE
	        P.PIECE_NO = #{pieceNo}
	</select>
	
	
	<!-- 좋아요 카운트 -->
	<select id="checkPieceLike" resultType="_int">
		SELECT 
			COUNT(*)
   		FROM 
   			"WISH"
   		WHERE 
   			PIECE_NO  = #{pieceNo}
 			AND
   			MEMBER_NO = #{loginNo}
	</select>
	
	
	<!-- 좋아요 INSERT -->
	<insert id="insertPieceLike">
		INSERT INTO "WISH"
   		VALUES( #{loginNo}, #{pieceNo})
	</insert>

	
	<!-- 좋아요 DELETE -->
	<insert id="deletePieceLike">
		DELETE FROM "WISH"
   		WHERE 
   			PIECE_NO  = #{pieceNo}
   			AND  
   			MEMBER_NO = #{loginNo}
	</insert>
	
	<!-- 좋아요 카운트 -->
	<select id="getLikeCount" resultType="_int">
		SELECT COUNT(*)
   		FROM "WISH"
   		WHERE
   		 PIECE_NO = #{pieceNo}
	</select>
	
	<!-- 좋아요 확인 -->
	<select id="getLikeCheck" resultType="_int">
		  SELECT 
			  COUNT(*)
   		FROM 
   			"WISH"
   		WHERE 
   			PIECE_NO  = #{pieceNo}
 			AND
   			MEMBER_NO = #{loginNo}
	</select>
    
    <!-- 신고 접수 -->
   <insert id="reportInsert" parameterType="Report">
        INSERT INTO REPORT
        VALUES(
            SEQ_REPORT_NO.NEXTVAL,
            #{memberNo},
            #{pieceNo},
            #{reportType},
            #{reportContent},
            DEFAULT, DEFAULT, DEFAULT
        )
    </insert>
    
    <!-- ************ 예정경매 관련  ************ -->
    
    
    <!-- ************ 현재경매 관련  ************ -->
    
    <!-- 현재 경매 리스트 -->
    <!--
        타입2번, 상태 S,
        PA.START_DATE가 "오늘"(SYSDATE)이거나 "어제"(SYSDATE - 1)
        PA.END_DATE가 "오늘"(SYSDATE)이거나 "어제"(SYSDATE - 1)
     -->
   	<select id="currentList" resultType="Piece">
   		SELECT
			P.PIECE_NO,
		    P.PIECE_TITLE,
		    P.PIECE_RENAME,
		    P.REG_DATE,
		    PA.START_DATE,
		    PA.END_DATE
		FROM
		    PIECE_AUCTION PA
		JOIN
		    PIECE P
		ON
		    PA.PIECE_NO = P.PIECE_NO
		WHERE
		    P.PIECE_STATUS = 'S'
		    AND P.PIECE_TYPE = 2
		   	AND PA.START_DATE = TO_DATE(TO_CHAR(SYSDATE - 10/24 , 'YYYYMMDD'), 'YYYYMMDD')
	</select>
	
	
    
    
    <!-- 상세 페이지 조회 -->
    <select id="currentDetail" resultType="Piece">
		SELECT
		    P.PIECE_NO, 
		    P.PIECE_TITLE, 
		    P.PIECE_DETAIL,
		    P.PIECE_STATUS,
		    P.SIZE_X,
		    P.SIZE_Y,
		    P.PIECE_CATEGORY_NO,
		    P.PIECE_RENAME,
		    PA.START_DATE,
		    PA.START_PRICE,
		    PA.HOPE_PRICE,
		    PA.END_DATE,
		    PC.PIECE_CATEGORY_NAME, 
		    A.ARTIST_NICKNAME       
		FROM
		    "PIECE" P
		JOIN
		    "PIECE_AUCTION" PA
		ON
		    P.PIECE_NO = PA.PIECE_NO
		JOIN
		    "PIECE_CATEGORY" PC
		ON
		    P.PIECE_CATEGORY_NO = PC.PIECE_CATEGORY_NO
		JOIN
		    "ARTIST" A
		ON
		    P.MEMBER_NO = A.MEMBER_NO 
		WHERE
			P.PIECE_NO = #{pieceNo}
    </select>
    
    
    
    <select id="completedList" resultType="Piece">
	 	SELECT
		    *
		FROM
		    PIECE P
		JOIN
		    ARTIST A
		ON
		    P.MEMBER_NO = A.MEMBER_NO
		WHERE
			PIECE_STATUS = 'F'
			AND
			PIECE_TYPE = '2'
    </select>
    
    
    <!-- 종료경매 게시물 카운트  -->
    <select id="completedListCount" resultType="_int">
	    SELECT
	    	COUNT(*)
		FROM
		    PIECE P
		LEFT JOIN
		    ARTIST A
		ON
		    P.MEMBER_NO = A.MEMBER_NO
		WHERE
			PIECE_STATUS = 'F'
			AND
			PIECE_TYPE = '2'
    </select>
    
    
    
    
    
    
    
    
</mapper>