<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.plklj.delivery.mapper.DeliveryMapper">

	<!-- 배송 리스트 조회-->
	<select id="selectDeliveryList" parameterType="_int" resultType="Manage">
		    SELECT *
	    FROM (
	        SELECT DELIVERY.DELIVERY_NO, DELIVERY.PIECE_NO, DELIVERY.MEMBER_NO, 
	               PIECE_TITLE, DELIVERY_STATUS, PIECE_STATUS, PIECE_TYPE, DELIVERY_ADDRESS,
	               TO_CHAR(DELIVERY_DATE, 'YYYY"년" MM"월" DD"일"') AS DELIVERY_DATE,
	               TO_CHAR(DELIVERY_ING_DATE, 'YYYY"년" MM"월" DD"일"') AS DELIVERY_ING_DATE,
	               TO_CHAR(DELIVERY_END_DATE, 'YYYY"년" MM"월" DD"일"') AS DELIVERY_END_DATE,
	               TO_CHAR(SELL_PRICE, 'FM999,999,999,999,999,999') AS SELL_PRICE,
	               TO_CHAR(END_PRICE, 'FM999,999,999,999,999,999') AS END_PRICE,
	               ROW_NUMBER() OVER (PARTITION BY DELIVERY.DELIVERY_NO ORDER BY DELIVERY_DATE DESC) AS RN
	        FROM DELIVERY
	        LEFT JOIN PIECE ON PIECE.PIECE_NO = DELIVERY.PIECE_NO
	        LEFT JOIN AUCTION ON AUCTION.PIECE_NO = DELIVERY.PIECE_NO
	        LEFT JOIN PIECE_SELL ON PIECE_SELL.PIECE_NO = DELIVERY.PIECE_NO
	    ) SUBQUERY
	    WHERE RN = 1
	    AND	MEMBER_NO = #{memberNo} 
	    ORDER BY DELIVERY_DATE DESC
	</select>

	<!-- 배송 회원 조회하기 -->
	<select id="deliveryList" resultType="Manage">
	    SELECT *
	    FROM (
	        SELECT DELIVERY.DELIVERY_NO, DELIVERY.PIECE_NO, DELIVERY.MEMBER_NO, 
	               PIECE_TITLE, DELIVERY_STATUS, PIECE_STATUS, PIECE_TYPE, DELIVERY_ADDRESS,
	               TO_CHAR(DELIVERY_DATE, 'YYYY"년" MM"월" DD"일"') AS DELIVERY_DATE,
	               TO_CHAR(DELIVERY_ING_DATE, 'YYYY"년" MM"월" DD"일"') AS DELIVERY_ING_DATE,
	               TO_CHAR(DELIVERY_END_DATE, 'YYYY"년" MM"월" DD"일"') AS DELIVERY_END_DATE,
	               TO_CHAR(SELL_PRICE, 'FM999,999,999,999,999,999') AS SELL_PRICE,
	               TO_CHAR(END_PRICE, 'FM999,999,999,999,999,999') AS END_PRICE,
	               ROW_NUMBER() OVER (PARTITION BY DELIVERY.DELIVERY_NO ORDER BY DELIVERY_DATE DESC) AS RN
	        FROM DELIVERY
	        LEFT JOIN PIECE ON PIECE.PIECE_NO = DELIVERY.PIECE_NO
	        LEFT JOIN AUCTION ON AUCTION.PIECE_NO = DELIVERY.PIECE_NO
	        LEFT JOIN PIECE_SELL ON PIECE_SELL.PIECE_NO = DELIVERY.PIECE_NO
	    ) SUBQUERY
	    WHERE RN = 1
	    ORDER BY DELIVERY_DATE DESC
	</select>

	<!-- 배송 예정 날짜 -->
	<update id="deliveryIngDateUpdate">
		UPDATE "DELIVERY"
		SET DELIVERY_ING_DATE = #{deliveryIngDate}
		WHERE DELIVERY_NO = #{deliveryNo}
	</update>

	<!-- 배송 완료 날짜 -->
	<update id="deliveryEndDateUpdate">
		UPDATE "DELIVERY"
		SET DELIVERY_END_DATE = #{deliveryEndDate}
		WHERE DELIVERY_NO = #{deliveryNo}
	</update>

	<!-- 배송 상태 변경 -->
	<update id="deliveryStatusUpdate">
		UPDATE "DELIVERY"
		SET  DELIVERY_STATUS = #{deliveryStatus}
		WHERE DELIVERY_NO = #{deliveryNo}
	</update>
	
</mapper>