<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.plklj.howTo.mapper.HowToMapper">

	<!-- 로그인 -->
	<select id="questionList" resultType="Question">
   SELECT 
          QUESTION_CONTENT,
          QUESTION_ANSWER
        FROM (
            SELECT 
                QUESTION_NO,
                QUESTION_CONTENT,
                QUESTION_ANSWER
            FROM 
                QUESTION
            ORDER BY 
                QUESTION_DATE DESC
        )
        WHERE ROWNUM &lt;= 5
	</select>
	

</mapper>