<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.plklj.member.mapper.LogInMapper">

	<!-- 로그인 -->
	<select id="signUp" resultType="Member">
		SELECT
		    M.MEMBER_NO,
		    TO_CHAR(M.MEMBER_ID),
		    M.MEMBER_PW,
		    TO_CHAR(M.MEMBER_NAME),
		    TO_CHAR(M.MEMBER_EMAIL),
		    TO_CHAR(M.MEMBER_PHONE),
		    TO_CHAR(M.MEMBER_PENALTY),
		    A.ARTIST_NICKNAME,
		    TO_CHAR(A.ARTIST_PROFILE),
		    A.ARTIST_REG
		FROM "MEMBER" M
		LEFT JOIN "ARTIST" A ON M.MEMBER_NO = A.MEMBER_NO
		WHERE TO_CHAR(M.MEMBER_ID) = #{memberId}
		AND M.MEMBER_DEL_FL = 'N'
		
		UNION ALL
		
		SELECT
		    MANAGE_NO AS MEMBER_NO,
		    TO_CHAR(MANAGE_ID) AS MEMBER_ID,
		    MANAGE_PW AS MEMBER_PW,
		    '' AS MEMBER_NAME,
		    '' AS MEMBER_EMAIL,
		    '' AS MEMBER_PHONE,
		    '' AS MEMBER_PENALTY,
		    MANAGE_NICKNAME AS ARTIST_NICKNAME,
		    '' AS ARTIST_PROFILE,
		    'M' AS ARTIST_REG
		FROM MANAGE
		WHERE TO_CHAR(MANAGE_ID) = #{memberId}
	</select>
	
	<!-- 비밀번호찾기, 아이디전화번호일치여부확인 -->
	<select id="searchIdPh" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_ID = #{inputId}
		AND MEMBER_PHONE = #{inputPhone}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE "MEMBER"
		SET MEMBER_PW = #{memberPw}
		WHERE
			MEMBER_ID = #{memberId}
		AND MEMBER_PHONE = #{memberPhone}
	</update>
	
</mapper>