<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.plklj.main.mapper.MainMapper">

	<!-- 메인 슬라이드쇼-->
	<select id="selectShowViewing" resultType="Piece">
		SELECT PIECE_NO, MEMBER_NO, PIECE_TITLE, PIECE_RENAME, TO_CHAR(END_DATE, 'YYYY"년" MM"월" DD"일"') AS "END_DATE", TO_CHAR(START_DATE, 'YYYY"년" MM"월" DD"일"') AS "START_DATE"
		FROM PIECE_AUCTION
		LEFT JOIN PIECE USING(PIECE_NO)
		WHERE PIECE_STATUS = 'F'
		AND PIECE_TYPE = 2
		ORDER BY START_DATE DESC
		FETCH FIRST 4 ROWS ONLY
	</select>
	
	<!-- 최신 온라인 갤러리 조회 -->
	<select id="selectOnlineGalleryList" resultType="Piece">
		SELECT PIECE_NO, MEMBER_NO, PIECE_RENAME, PIECE_TITLE, SIZE_X, SIZE_Y, PIECE_CATEGORY_NO, ARTIST_NICKNAME, TO_CHAR(SELL_PRICE, 'FM999,999,999,999') AS "SELL_PRICE"
		FROM PIECE
		JOIN ARTIST USING(MEMBER_NO)
		LEFT JOIN PIECE_SELL USING(PIECE_NO)
		WHERE PIECE_TYPE = 1
		ORDER BY PIECE_NO DESC
		FETCH FIRST 10 ROWS ONLY
	</select>

	<!-- 최신 경매 조회 -->
	<select id="selectAuctionsList" resultType="Piece">
		SELECT PIECE_NO, MEMBER_NO, PIECE_RENAME, PIECE_TITLE, SIZE_X, SIZE_Y, PIECE_CATEGORY_NO, ARTIST_NICKNAME,
		TO_CHAR(START_PRICE, 'FM999,999,999,999') AS "START_PRICE", TO_CHAR(HOPE_PRICE, 'FM999,999,999,999') AS "HOPE_PRICE"
		FROM PIECE
		JOIN ARTIST USING(MEMBER_NO)
		LEFT JOIN PIECE_AUCTION USING(PIECE_NO)
		WHERE PIECE_TYPE = 2
		AND PIECE_STATUS = 'S'
		ORDER BY PIECE_NO DESC
		FETCH FIRST 3 ROWS ONLY
	</select>
	
	<!-- 검색 -->
	<select id="selectSearchList" resultType="Piece">
	SELECT PIECE_NO, MEMBER_NO, PIECE_RENAME, ARTIST_NICKNAME, PIECE_TITLE,	SIZE_X, SIZE_Y, PIECE_TYPE, PIECE_CATEGORY_NO, PIECE_CATEGORY_NAME, PIECE_STATUS, 
		TO_CHAR(END_DATE, 'YYYY"년" MM"월" DD"일"') AS "END_DATE", TO_CHAR(START_DATE, 'YYYY"년" MM"월" DD"일"') AS "START_DATE", TO_CHAR(REG_DATE, 'YYYY"년" MM"월" DD"일"') AS "REG_DATE",
		TO_CHAR(START_PRICE, 'FM999,999,999,999') AS "START_PRICE", TO_CHAR(HOPE_PRICE, 'FM999,999,999,999') AS "HOPE_PRICE", TO_CHAR(END_PRICE, 'FM999,999,999,999') AS "END_PRICE", TO_CHAR(SELL_PRICE, 'FM999,999,999,999') AS "SELL_PRICE"
		FROM PIECE
		JOIN ARTIST USING(MEMBER_NO)
		LEFT JOIN PIECE_AUCTION USING(PIECE_NO)
		LEFT JOIN PIECE_CATEGORY USING(PIECE_CATEGORY_NO)
		JOIN PIECE_SELL USING(PIECE_NO)
		LEFT JOIN (
			SELECT MAX(END_PRICE) END_PRICE, PIECE_NO
			FROM AUCTION
			GROUP BY PIECE_NO	
			) USING(PIECE_NO)
		ORDER BY PIECE_NO DESC
	</select>
	

	

</mapper>