<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.plklj.manage.mapper.ManageMapper">


	<!--작가 목록-->
	<select id="getArtistListCount" resultType="_int">
	SELECT 
	COUNT(*)
	FROM ARTIST
	</select>

	<select id="getArtistList" resultType="_int">
		SELECT
		A.MEMBER_NO AS 회원번호,
		A.ARTIST_PROFILE AS 아티스트프로필,
		A.ARTIST_NICKNAME AS 아티스트닉네임,
		PA.PIECE_NO AS 작품번호,
		PA.FINAL_PRICE AS 경매가,
		PS.SELL_PRICE AS 판매가
		FROM
		ARTIST A
		LEFT JOIN
		PIECE P
		ON
		A.MEMBER_NO = P.MEMBER_NO
		LEFT JOIN
		PIECE_AUCTION PA
		ON
		P.PIECE_NO = PA.PIECE_NO
		LEFT JOIN
		PIECE_SELL PS
		ON
		P.PIECE_NO = PS.PIECE_NO;

	</select>

	<!--콘텐츠 관리-->
	<select id="getContentListCount" resultType="_int">
		SELECT
		COUNT(*)
		FROM
		REPORT R
		JOIN PIECE P ON R.PIECE_NO = P.PIECE_NO
		LEFT JOIN PIECE_AUCTION A ON P.PIECE_NO = A.PIECE_NO
		LEFT JOIN ARTIST D ON R.MEMBER_NO = D.MEMBER_NO
		WHERE
		R.REPORT_DEL_FL ='N'
	</select>


	<select id="getContentList" resultType="map">
		SELECT
		R.REPORT_NO "reportNo",
		R.MEMBER_NO "memberNo",
		P.PIECE_TITLE AS "pieceName",
		P.SIZE_X || ' x ' || P.SIZE_Y AS "pieceSize",
		A.FINAL_PRICE AS "auctionPrice",
		D.ARTIST_NICKNAME AS "artistNickname"
		FROM
		REPORT R
		JOIN PIECE P ON R.PIECE_NO = P.PIECE_NO
		LEFT JOIN PIECE_AUCTION A ON P.PIECE_NO = A.PIECE_NO
		LEFT JOIN ARTIST D ON R.MEMBER_NO = D.MEMBER_NO
		WHERE
		R.REPORT_DEL_FL ='N'

	</select>


</mapper>