<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.plklj.manage.mapper.ManageMapper">


	<!--작가 목록 -->
	<select id="getArtistListCount" resultType="_int">
		SELECT
		COUNT(*)
		FROM
		ARTIST
	</select>

	<select id="getArtistList" resultType="map">
		SELECT
		A.MEMBER_NO AS "memberNo",
		A.ARTIST_PROFILE AS "artistProfile",
		A.ARTIST_NICKNAME AS "artistNickname",
		(
		SELECT SUM(END_PRICE)
		FROM PIECE P
		LEFT JOIN AUCTION AU ON P.PIECE_NO = AU.PIECE_NO
		WHERE P.MEMBER_NO = A.MEMBER_NO
		) AS "endPrice",

		(
		SELECT SUM(SELL_PRICE)
		FROM PIECE P2

		JOIN PIECE_SELL PS
		ON (P2.PIECE_NO = PS.PIECE_NO)

		JOIN PAYMENT_RECORD PR
		ON (P2.PIECE_NO = PR.PIECE_NO)

		WHERE P2.MEMBER_NO = A.MEMBER_NO
		) AS "sellPrice"


		FROM ARTIST A

	</select>

	<!-- 회원 목록 -->
	<select id="getMemberListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'

	</select>
	<select id="getMemberList" resultType="map">
		SELECT
		M.MEMBER_NO AS "memberNo",
		M.MEMBER_NAME AS "memberName",
		COALESCE(SUM(A.END_PRICE), 0) AS "endPrice"
		FROM MEMBER M
		LEFT JOIN AUCTION A
		ON M.MEMBER_NO = A.MEMBER_NO
		WHERE M.MEMBER_DEL_FL = 'N'
		GROUP BY M.MEMBER_NO, M.MEMBER_NAME

	</select>

	<!--콘텐츠 관리 -->
	<select id="getContentListCount" resultType="_int">
		SELECT
		COUNT(*)
		FROM
		REPORT R
		JOIN PIECE P ON R.PIECE_NO = P.PIECE_NO
		LEFT JOIN PIECE_AUCTION
		A ON P.PIECE_NO = A.PIECE_NO
		LEFT JOIN ARTIST D ON R.MEMBER_NO =
		D.MEMBER_NO
		WHERE
		R.REPORT_DEL_FL ='N'
	</select>


	<select id="getContentList" resultType="map">
		SELECT
		R.REPORT_NO
		"reportNo",
		R.MEMBER_NO "memberNo",
		P.PIECE_TITLE AS "pieceName",
		P.SIZE_X || ' x ' || P.SIZE_Y AS "pieceSize",
		A.END_PRICE AS "auctionPrice",
		D.ARTIST_NICKNAME AS "artistNickname"
		FROM
		REPORT R
		JOIN
		PIECE P ON R.PIECE_NO = P.PIECE_NO
		LEFT JOIN PIECE_AUCTION A ON
		P.PIECE_NO = A.PIECE_NO
		LEFT JOIN ARTIST D ON R.MEMBER_NO = D.MEMBER_NO
		WHERE
		R.REPORT_DEL_FL ='N'

	</select>

	<!--작가 승인 요청  -->
	<select id="getRequestListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ARTIST
		WHERE ARTIST_REG = 'N'
	</select>

	<select id="getRequestList" resultType="map">
		SELECT ARTIST_NICKNAME AS "artistNickname"
		FROM ARTIST
		WHERE ARTIST_REG = 'N'
	</select>


</mapper>