<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.plklj.piece.mapper.PieceMapper">

	<!-- 판매 작품 페이징 조회 쿼리 -->
    <select id="selectSalesPiece" resultType="Piece">
        SELECT 
        	P.PIECE_NO, PIECE_TITLE, SIZE_X, SIZE_Y,
        	PIECE_STATUS, SELL_PRICE, ARTIST_NICKNAME, P.PIECE_RENAME
        FROM PIECE P
        LEFT JOIN PIECE_SELL S ON (P.PIECE_NO = S.PIECE_NO)
        LEFT JOIN ARTIST A ON (P.MEMBER_NO = A.MEMBER_NO)
        WHERE PIECE_STATUS = 'N'
        AND   PIECE_TYPE = 1
        ORDER BY 
        	<choose>
        		<when test="sort == 'name'">A.ARTIST_NICKNAME</when>
        		<when test="sort == 'price'">S.SELL_PRICE</when>
        		<otherwise>P.PIECE_NO</otherwise>
        	</choose>
        	<if test="order == 'asc'">ASC</if>
        	<if test="order == 'desc'">DESC</if>
    </select>

    <!-- 완료 작품 페이징 조회 쿼리 -->
    <select id="selectCompletedPiece" resultType="Piece">
		SELECT 
        	P.PIECE_NO, PIECE_TITLE, SIZE_X, SIZE_Y,
        	PIECE_STATUS, SELL_PRICE, ARTIST_NICKNAME
        FROM PIECE P
        LEFT JOIN PIECE_SELL S ON (P.PIECE_NO = S.PIECE_NO)
        LEFT JOIN ARTIST A ON (P.MEMBER_NO = A.MEMBER_NO)
        WHERE PIECE_STATUS = 'F'
        AND   PIECE_TYPE = 1
        ORDER BY P.PIECE_NO DESC
    </select>

    <!-- 판매 작품 전체 개수 조회 쿼리 -->
    <select id="countSalesPiece" resultType="int">
        SELECT COUNT(*) FROM PIECE
        WHERE PIECE_STATUS = 'N'
        AND   PIECE_TYPE = 1  
    </select>

    <!-- 완료 작품 전체 개수 조회 쿼리 -->
    <select id="countCompletedPiece" resultType="int">
        SELECT COUNT(*) FROM PIECE
        WHERE PIECE_STATUS = 'F'
        AND   PIECE_TYPE = 1
    </select>
	
	<!-- 작품등록(공통) -->
	<insert id="pieceInsert">
		INSERT INTO "PIECE"
		VALUES(
			#{pieceNo},
			#{memberNo},
			#{pieceRename},
			#{pieceTitle},
			#{pieceDetail},
			#{sizeX},
			#{sizeY},
			DEFAULT,
			#{pieceType},
			#{pieceStatus},
			#{pieceCategoryNo}
		)
	</insert>
	
	<!-- 작품임시저장 -->
	<insert id="saveTemp">
		INSERT INTO "PIECE"
		VALUES(
			#{pieceNo},
			#{memberNo},
			#{pieceRename},
			#{pieceTitle},
			#{pieceDetail},
			#{sizeX},
			#{sizeY},
			DEFAULT,
			3,
			#{pieceStatus},
			#{pieceCategoryNo}
		)
	</insert>
	<!-- 작품임시저장 불러오기 -->
	<select id="getTempPiece" resultType="Piece">
		SELECT
			PIECE_NO,
			PIECE_RENAME,
			PIECE_TITLE,
			PIECE_DETAIL,
			SIZE_X,
			SIZE_Y,
			PIECE_CATEGORY_NO
		FROM PIECE
		WHERE
			PIECE_STATUS = 'T'
		AND PIECE_NO = #{pieceNo}
	</select>
	<!-- 임시저장작품 존재확인 -->
	<select id="searchTempiece" resultType="_int">
		SELECT
			COUNT(*)
		FROM PIECE
		WHERE
			PIECE_STATUS = 'T'
		AND PIECE_NO = #{pieceNo}
	</select>
	<!-- 임시저장작품 삭제 -->
	<delete id="deleteTemp">
		DELETE FROM "PIECE"
		WHERE
			PIECE_STATUS = 'T'
		AND PIECE_NO = #{pieceNo}
	</delete>
	
	
	<!-- 작품등록(즉시판매) -->
	<insert id="pieceSellInert">
		INSERT INTO "PIECE_SELL"
		VALUES(
			#{pieceNo},
			#{sellPrice}
		)
	</insert>
	<!-- 작품등록(경매) -->
	<insert id="pieceAuctionInert">
		INSERT INTO "PIECE_AUCTION"
		VALUES(
			#{pieceNo},
			TO_DATE(#{startDate}, 'YYYYMMDD'),
			TO_DATE(#{startDate} + 1, 'YYYYMMDD'),
			#{startPrice},
			#{hopePrice}
		)
	</insert>
	
	<select id="getCategoryList" resultType="Category">
		SELECT
			PIECE_CATEGORY_NO AS CATEGORY_NO,
			PIECE_CATEGORY_NAME AS CATEGORY_NAME
		FROM PIECE_CATEGORY
	</select>
	
	<!-- 작품 상세 조회 -->
	<select id="getPieceDetail" resultType="Piece">
		SELECT
			P.PIECE_NO, P.PIECE_TITLE, P.SIZE_X, P.SIZE_Y,
			P.PIECE_DETAIL, S.SELL_PRICE, A.ARTIST_NICKNAME,
			PC.PIECE_CATEGORY_NAME, P.PIECE_RENAME
		FROM PIECE P
		JOIN PIECE_CATEGORY PC ON (P.PIECE_CATEGORY_NO = PC.PIECE_CATEGORY_NO)
		LEFT JOIN PIECE_SELL S ON (P.PIECE_NO = S.PIECE_NO)
        LEFT JOIN ARTIST A ON (P.MEMBER_NO = A.MEMBER_NO)
		WHERE 
			P.PIECE_NO = #{pieceNo}
	</select>
	
	<select id="checkOnlineWish" resultType="_int">
		SELECT COUNT(*)
		FROM WISH
		WHERE PIECE_NO = #{pieceNo}
		AND   MEMBER_NO = 2
	</select>
	
	<insert id="insertOnlineWish">
		INSERT INTO WISH
		VALUES(2, #{pieceNo})
	</insert>
	
	<insert id="deleteOnlineWish">
		DELETE FROM WISH
		WHERE PIECE_NO = #{pieceNo}
		AND   MEMBER_NO = 2
	</insert>
	
	<select id="getWishCount" resultType="_int">
		SELECT COUNT(*)
		FROM WISH
		WHERE PIECE_NO = #{pieceNo}
		AND   MEMBER_NO = 2
	</select>
	









</mapper>