<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.plklj.report.mapper.ReportMapper">


	<insert id="reportInsert" parameterType="Report">
		INSERT INTO REPORT
		VALUES(
			SEQ_REPORT_NO.NEXTVAL,
			#{memberNo},
			#{pieceNo},
			#{reportType},
			#{reportContent},
			DEFAULT, DEFAULT, DEFAULT
		)
	</insert>
	
	
</mapper>