/* Chatbot Icon */
#chatbot-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #D4D4D4; /* 따뜻한 오렌지 톤 */
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#chatbot-icon > img {
  width: 60%;
  height: 60%;
}


#chatbot-icon:hover {
  background-color: #B0B0B0; /* 호버 시 더 어두운 오렌지 */
}

/* Chatbot Window */
#chatbot-container {
  position: fixed;
  bottom: 105px;
  right: 20px;
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 1px solid #ccc;
}

.hidden {
  display: none !important;
}

/* Chatbot Header */
#chatbot-header {
  background-color: #5e7c71;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatbot-close {
  cursor: pointer;
  font-size: 16px;
}

/* Chatbot Body */
#chatbot-body {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}

#chat-messages {
  flex: 1;
  overflow-y: auto; /* 스크롤 가능 */
}


/* Message Box */
.chat-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-message.loading .loading-indicator {
  color: #999;
  font-size: 16px;
  font-style: italic;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  max-width: 50px;
  text-align: center;
  margin: 5px 0;
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message.bot {
  justify-content: flex-start;
}

/* Message Text */
.message-text {
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  word-wrap: break-word;
  margin: 15px;
}

.chat-message.user .message-text {
  background-color: #D9E4DD;
  color: black;
  border-radius: 15px 15px 0 15px;
}

.chat-message.bot .message-text {
  background-color: #e0e0e0;
  color: #333;
  border-radius: 15px 15px 15px 0;
}

/* Icon */
.icon {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 10px;
}

.chat-message.user .icon {
  /* background-color: #D9E4DD; */
  color: white;
}

.chat-message.bot .icon {
  /* background-color: #e0e0e0; */
  color: #333;
}

/* Chat Footer */
#chatbot-footer {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

#chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#send-button {
  padding: 10px 15px;
  border: none;
  background-color: #5e7c71;
  color: white;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

#send-button:hover {
  background-color: #7e9a8d;
}
