<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/online/onlineDetail.css">

  <th:block th:replace="~{/common/common.html :: cssLinks}"></th:block>
</head>

<body>
  <th:block th:replace="~{/common/common.html :: headerLinks}"></th:block>
  
  <main class="onlinePurchase-main">

   <section class="product-section"  th:object="${piece}">
        
          <div class="product-container">
              <!-- 좌측 이미지 목록 -->
              <!-- <div class="thumbnail-list">
                  <img src="/images/onlineGallery1.jpg" >
                  <img src="/images/onlineGallery2.jpg">
                  <img src="/images/onlineGallery3.jpg" >
                  <img src="/images/onlineGallery4.jpg">
              </div> -->
      
              <!-- 메인 이미지 및 상세 정보 -->
              <div class="main-image">
                  <img th:src="*{pieceRename}" class="content-img" onload="hideLoader(this)">
                  <div class="loader"></div>
              </div>
      
              <!-- 우측 정보 패널 -->
              <div class="product-info">
                  <div class="wishlist-button">
                      <span><i class="fa-heart" id="online-wishList" aria-hidden="true"
                        th:classappend="*{wishCheck == 1} ? fa-solid : fa-regular"></i></span>
                      <button id="online-reportBtn">신고하기</button>
                  </div>
                  <h2 th:text="*{artistNickname}">작가 이름</h2>
                  <h3 th:text="*{pieceTitle}">작품 제목</h3>
                  <p>
                    <span th:text="*{sizeX} + x + *{sizeY}">작품 사이즈</span>
                    <span th:text="*{pieceCategoryName}">작품 카테고리</span>
                  </p>
                  
                <div class="price">
                    <p>
                      <span>금액 : </span>
                      <span id="sellPrice" th:data-price="*{sellPrice}">작품 가격</span>

                    </p>
                </div>
                  
                  <button class="purchase-button" id="purchaseBtn"
                          th:disabled="*{pieceStatus == 'F'}"
                          th:classappend="*{pieceStatus == 'F'} ? 'disabled' : ''">구매하기</button>
              </div>
          </div>
      
          <!-- 작품 내용 섹션 -->
          <section class="product-description">
              <h4>작품 내용</h4>
              <p th:text="*{pieceDetail}">작품 내용 설명인가?</p>
          </section>
   </section>
 
  

  </main>


  <th:block th:replace= "~{/common/footer.html}"></th:block>

  <script th:inline="javascript">
    let loginCheck = /*[[${session.memberLogin != null || session.artistLogin != null}]]*/ false;
    let pieceNo = /*[[${piece.pieceNo}]]*/ null;
    let pieceStatus = /*[[${pieceStatus}]]*/ null;
  </script>

  <script src="/js/online/onlineDetail.js"></script>
  <script src="/js/reportPopup/reportPopup.js"></script>
  <script src="/js/artist/artistDetail.js"></script>
</body>
</html>