<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/online/onlineDetail.css">

  <th:block th:replace= "~{/common/common}"></th:block>
</head>
<body>
  <th:block th:replace= "~{/common/header}"></th:block>
  
  <main class="onlinePurchase-main">

   <section class="product-section">
        
          <div class="product-container">
              <!-- 좌측 이미지 목록 -->
              <div class="thumbnail-list">
                  <img src="/images/onlineGallery1.jpg" >
                  <img src="/images/onlineGallery2.jpg">
                  <img src="/images/onlineGallery3.jpg" >
                  <img src="/images/onlineGallery4.jpg">
              </div>
      
              <!-- 메인 이미지 및 상세 정보 -->
              <div class="main-image">
                  <img src="/images/onlineGallery.jpg">
              </div>
      
              <!-- 우측 정보 패널 -->
              <div class="product-info">
                  <div class="wishlist-button">
                      <span><i class="fa-regular fa-heart"></i></span>
                      <button id="online-reportBtn">신고하기</button>
                  </div>
                  <h2>정호경</h2>
                  <p>ReNameeeeeem</p>
                  <h3>작살나게 잘 가기</h3>
                  <p>25 x 32</p>
                  
                  <div class="price">
                    금액 : 
                    <span style="margin-left: 210px;"> ₩380,000 (KRW)</span>
                </div>
                  
                  <button class="purchase-button">구매하기</button>
              </div>
          </div>
      
          <!-- 작품 내용 섹션 -->
          <section class="product-description">
              <h4>작품 내용</h4>
              <p>작품 내용 설명인가?</p>
          </section>
   </section>
 
  

  </main>


  <th:block th:replace= "~{/common/footer.html}"></th:block>

  <script inline="javascript">
    const loginCheck = /*[[${session.loginMember != null}]]*/ false;
  </script>

  <script src="/js/online/onlineDetail.js"></script>
</body>
</html>