<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auctions</title>

  <link rel="stylesheet" href="/css/howto/howToMain.css">
  <link rel="stylesheet" href="/css/auction/auctionMain.css">
</head>
<body>
  
  <th:block th:replace="~{common/common}"></th:block>
    
  <main id="howTo"> 

    <h1>Auctions</h1>

    <section class="upcoming-auctions">
      <div class="upcoming-title">예정 경매</div> 

      <div class="upcoming-box" style="border-right: 2px solid #aaaaaa;">
        <div class="upcoming-imgbox">
          <img src="/images/onlineGallery3.jpg">
        </div>
        
        <div class="upcoming-text">
          <h1>무제</h1>
          <div style="margin-top: 20px;">프리뷰</div>
          <div style="margin-top: 8px;">11월 09일(수) ~ 11월 19일(월)</div>
          <div style="margin-top: 40px;">경매일</div>
          <div style="margin-top: 8px;">12월 10일 14:00</div>
          <hr class="dotted-line">
          <button class="detail-button">상세보기</button>
        </div>
      </div>
      

      <div class="upcoming-box">
        <div class="upcoming-imgbox">
          <img src="/images/onlineGallery3.jpg">
        </div>
        
        <div class="upcoming-text">
          <h1>무제</h1>
          <div style="margin-top: 20px;">프리뷰</div>
          <div style="margin-top: 8px;">11월 09일(수) ~ 11월 19일(월)</div>
          <div style="margin-top: 40px;">경매일</div>
          <div style="margin-top: 8px;">12월 10일 14:00</div>
          <hr class="dotted-line">
          <button class="detail-button">상세보기</button>
        </div>
      </div>
      
    </section>


    
    <section class="ongoing-auctions">
      <div class="ongoing-title">진행 경매</div> 

      <div class="ongoing-section1">
        <div class="ongoing-text">
          <h1>성윤모</h1>
          <div style="margin-top: 68px;">오픈일 11월 08일(금)</div>
          <div style="margin-top: 8px;">프리뷰 11/09(토) ~ 11/20(수)</div>
          <div style="margin-top: 8px;">경매일 12월 06일 14:00</div>
          <hr class="dotted-line2">
          <button class="detail-button2">상세보기</button>
        </div>

        <div class="ongoing-imgbox">
          <img src="/images/onlineGallery5.jpg">
        </div>
      </div>

      <div class="ongoing-section1">
        <div class="ongoing-text">
          <h1>성윤모</h1>
          <div style="margin-top: 68px;">오픈일 11월 08일(금)</div>
          <div style="margin-top: 8px;">프리뷰 11/09(토) ~ 11/20(수)</div>
          <div style="margin-top: 8px;">경매일 12월 06일 14:00</div>
          <hr class="dotted-line2">
          <button class="detail-button2">상세보기</button>
        </div>

        <div class="ongoing-imgbox">
          <img src="/images/onlineGallery5.jpg">
        </div>
      </div>

      <div class="ongoing-section1">
        <div class="ongoing-text">
          <h1>성윤모</h1>
          <div style="margin-top: 68px;">오픈일 11월 08일(금)</div>
          <div style="margin-top: 8px;">프리뷰 11/09(토) ~ 11/20(수)</div>
          <div style="margin-top: 8px;">경매일 12월 06일 14:00</div>
          <hr class="dotted-line2">
          <button class="detail-button2">상세보기</button>
        </div>

        <div class="ongoing-imgbox">
          <img src="/images/onlineGallery5.jpg">
        </div>
      </div>


    </section>
    
    <section class="completed-auctions">
      <div class="completed-title">예정 경매</div> 

      <div class="completed-imgbox">
        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>
      </div>


      <div class="completed-imgbox">
        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>

        <div>
          <a href="#" style="padding: 0;">
            <img src="/images/onlineGallery5.jpg">
          </a>
          <div class="artist-name">이동현</div>
        </div>
      </div>

    </section>

    <div class="pagination">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
      <a href="#">10</a>
    </div>
    
  </main>



  <th:block th:replace= "~{/common/footer.html}"></th:block>

  <script src="/js/howto/howToMain.js"></script>
</body>
</html>