<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Current Auction Detail</title>
  <link rel="stylesheet" href="/css/auction/currentDetail.css">

  <th:block th:replace="~{/common/common.html :: cssLinks}"></th:block>
</head>

<body>
  <th:block th:replace="~{/common/common.html :: headerLinks}"></th:block>
  
  <main class="auctionDetail-main">

   <section class="product-section">
        
    <div class="product-container">
  
      <!-- 메인 이미지 및 상세 정보 -->
      <div class="main-image">
          <img th:src="${currentDetail.pieceRename}" alt="작품 이미지">
      </div>

      <!-- 우측 정보 패널 -->
      <div class="product-info">
          <div class="wishlist-button">
              <span>
                  <!-- <i class="fa-regular fa-heart" id="likeCurrentBtn"></i> -->
                  <i class="fa-heart" 
                  th:classappend="${pieceDetail.likeCheck == 1} ? 'fa-solid' : 'fa-regular'"
                  id="likeCurrentBtn">
                  </i>  
              </span>
              <button class="auction-reportBtn" id="currentReportBtn">신고</button>
          </div>
          <h2 th:text="${currentDetail.artistNickname}">이동현</h2>
          <p th:text="${currentDetail.pieceTitle}">ReNameeeeeem</p>

          <div class="content-size-category">
            <p th:text="'사이즈 : ' + ${currentDetail.sizeX} + ' x ' + ${currentDetail.sizeY}">사이즈 : 25 x 32</p>
            <strong th:text="${currentDetail.pieceCategoryName}">추상화</strong>
          </div>
          
          
        <div class="price">
          <span>추정가 :</span> 
          <span th:text="${currentDetail.hopePrice}">KRW 209,000,000</span>
        </div>

        <div class="price">
          <span>시작가 :</span> 
          <span th:text="${currentDetail.startPrice}">KRW 5,000</span>
        </div>

        <div class="price">
          <span>현재 입찰가 :</span> 
          <span id="currentBidPrice"></span>
        </div>

        <div class="start-date">
          시작일 :
          <span th:text="${currentDetail.startDate}">11월 17일(금) 10:00</span>
        </div>
        
        <div class="end-date">
          종료일 :
          <span th:text="${currentDetail.endDate}">11월 18일(토) 10:00</span>
        </div>
          
          <button class="purchase-button" id="bidApplyBtn">입찰 신청</button>
      </div>
  </div>

  <!-- 작품 내용 섹션 -->
  <section class="product-description">
      <h4 style="color: #5e7c71;">작품 내용</h4>
      <p th:text="${currentDetail.pieceDetail}">
        작품 내용 설명입니다.
      </p>
  </section>


  <div id="modal" class="modal">
    <div class="modal-content">
      <i class="fa-solid fa-times close-btn"></i>
      <h2 style="margin-bottom: 30px;">입찰 신청</h2>
      <p>입찰 금액을 입력하세요.</p>
      <input type="number" id="bidAmount" placeholder="금액 입력 (KRW)" />
      <div class="current-bid">
        <span>현재 입찰 금액: </span>
        <span id="currentBidAmount"></span>
      </div>
      <button id="confirmBidBtn" class="confirm-btn">입찰하기</button>
    </div>
  </div>
  
 

  </main>

  <div id="pieceContainer" th:data-pieceNo="${currentDetail.pieceNo}"></div>


  <th:block th:replace= "~{/common/footer.html}"></th:block>

  <script th:inline="javascript">
    const loginCheck = /*[[${session.memberLogin != null || session.artistLogin != null}]]*/ false;
    let loginNo = /*[[${session.memberLogin != null ? session.memberLogin.memberNo : 'null'}]]*/ null;
  </script>


  <script src="/js/auction/currentDetail.js"></script>
</body>
</html>