<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/auction/currentDetail.css">

  <th:block th:replace= "~{/common/common}"></th:block>
</head>
<body>
  <th:block th:replace= "~{/common/header}"></th:block>
  
  <main class="auctionDetail-main">

   <section class="product-section">
        
      <div class="product-container">
          <!-- 좌측 이미지 목록 -->
          <div class="thumbnail-list">
              <img src="/images/onlineGallery1.jpg" >
              <img src="/images/onlineGallery2.jpg">
              <img src="/images/onlineGallery3.jpg" >
              <img src="/images/onlineGallery4.jpg">
          </div>
  
          <!-- 메인 이미지 및 상세 정보 -->
          <div class="main-image">
              <img src="/images/onlineGallery5.jpg">
          </div>
  
          <!-- 우측 정보 패널 -->
          <div class="product-info">
              <div class="wishlist-button">
                  <span><i class="fa-regular fa-heart"></i></span>
                  <button class="auction-reportBtn">신고</button>
              </div>
              <h2>이동현</h2>
              <p>ReNameeeeeem</p>
              <h3>Burnt Umber * Ultramarine Blue</h3>
              <p>25 x 32 <Strong>추상화</Strong></p>
              
            <div class="price">
              <span>추정가 :</span> 
              <span>KRW 209,000,00 ~ 400,000,00 </span>
              <!-- <div class="price-usa">
                <span>USD 207,00 ~ 286,00</span>
              </div> -->
            </div>

          

            <div class="start-date">
              시작일 :
              <span style="margin-left: 275px;">11/13(수)</span>
            </div>
            
            <div class="end-date">
              종료일 :
              <span style="margin-left: 275px;">11/15(금)</span>
            </div>
              
              <button class="purchase-button">입찰 신청</button>
          </div>
      </div>
  
      <!-- 작품 내용 섹션 -->
      <section class="product-description">
          <h4 style="color: #5e7c71;">작품 내용</h4>
          <p>
            작품 내용 설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가
            작품 내용 설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가
            작품 내용 설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가
            작품 내용 설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가
            작품 내용 설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가설명인가
          </p>
      </section>

   </section>
 

  </main>


  <th:block th:replace= "~{/common/footer.html}"></th:block>

  <script inline="javascript">
    const loginCheck = /*[[${session.loginMember != null}]]*/ false;
  </script>

  <script src="/js/auction/auctionDetail.js"></script>
</body>
</html>