<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ongoing Auction Detail</title>

  <link rel="stylesheet" href="/css/auction/ongoingDetail.css">
  <!-- <link rel="stylesheet" href="/css/howto/howToMain.css"> -->
</head>
<body>
  <th:block th:replace="~{common/common}"></th:block>
    
  <main id="ongoinAuction"> 

    <section class="ongoingDetail">
      <h1 class="ongoing-status" style="font-size: 26px; color: #5e7c71;">무제 :: OPEN</h1>

      <div class="ongoingDetail-imageBox">
        <img src="/images/onlineGallery5.jpg">
        <div style="color: #5e7c71;">
          <h3>Hours</h3>
        </div>
      </div>

      <div class="ongoingDetail-imageBox">
        <img src="/images/onlineGallery5.jpg">
        <div style="color: #5e7c71;">
          <h3>Minutes</h3>
        </div>
      </div>

      <div class="ongoingDetail-imageBox">
        <img src="/images/onlineGallery5.jpg">
        <div style="color: #5e7c71;">
          <h3>Seconds</h3>
        </div>
      </div>
    </section>

    <section class="ongoingDetail2">
      <div class="ongoingDetail2-imageBox">

        <img src="/images/onlineGallery.jpg"></img>

        <div class="like-box">
          <i class="fa-regular fa-heart" style="font-size: 30px; margin-right: 15px;"></i>
        </div>

        <div class="ongoingdetail2-textBox">
          <span>오픈일 11/08(금)</span>
          <span>프리뷰 11/09(토) ~ 11/20(수)</span>
          <span>경매일 12월 6일 14:00</span>
        </div>

        <div class="button-container">
          <button class="ongoing-list-btn">목록보기</button>
          <button class="ongoing-report-btn">신고</button>
        </div>

      </div>
    </section>


    <section class="dummy">

    </section>


    
  </main>



  <th:block th:replace= "~{/common/footer.html}"></th:block>

  <script src="/js/howto/howToMain.js"></script>
</body>
</html>