/* 메인 컨테이너 */
.main-container {

}

/* 헤더 컨테이너 */
.session-container {

}

/* 제목 태그 */
h3 {

}

/* 구분선 */
.custom-line {
  border-bottom: 1px solid #acacac;
  width: 100%;
  margin: 1% 0% 2% 0%;
}

/* ------------------------------------------------------------------------------------------ */
/* date type 고르는 클래스 */
.dateType-container {
  
}

/* 날짜 버튼 */
.date{
  
}

/* 달력 */
.calendar{
  
}

/* 조회 버튼 */
.selectBtn{
  
}

/* ------------------------------------------------------------------------------------------ */
/* 테이블 영역 */
.table-container {

}

/* 테이블 헤더 영역 */
.table-header {

}

/* 테이블 내용 영역 */
.table-content {

}
