.myPage-main *{
  color: #414141;
}
#myPage-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main>h3{
  color: #5e7c71;
}
#myPage-main>*{
  margin: 10px 0 10px;
}
#myPage-main>.myPage-sec{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 820px;
}
#myPage-main>.myPage-sec>div:first-child{
  color: #5e7c71;
  margin-bottom: 5px;
}
#myPage-main>.myPage-sec>.common-box{
  width: 100%;
  min-height: 50px;
  border: 1px solid #5e7c71;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#myPage-main>.myPage-sec>.canChangeBox{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#myPage-main>.myPage-sec .myPage-count{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 10px 0;
}
#myPage-main>.myPage-sec>.canChangeBox>*{
  margin: 5px;
}
.myPage-main>.myPage-sec label{
  width: 97%;
  min-height: 30px;
  border: 1px solid #5e7c71;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}
#myPage-main>.myPage-sec label>input{
  border: none;
  flex-grow: 1;
}
#myPage-main>.myPage-sec label>input:focus {
  outline: none;
}
#myPage-main>.myPage-sec label>div{
  width: 90px;
  border-radius: 3px;
}
#myPage-main>.myPage-sec label>#myPage-count{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0;
}
#profileUpload, #artistProfileLabel { /* 이미지 변경 라벨 */
  width: 380px;
  height: 45px;
  align-self: center;
  border: 1px solid #5e7c71;
  border-radius: 3px;
  margin: 10px;
}
#myPage-main>section>.member-hov{
  width: 380px;
  height: 45px;
  border-radius: 3px;
  margin: 15px;
}
.member-hov{
  user-select: none;
  margin: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #5e7c71;
  color: #5e7c71;
}
.member-hov:hover{
  cursor: pointer;
  border: 1px solid #5e7c71;
  background-color: #5e7c71;
  color: white;
}
.confirm-red{color: red;}

.hiddenInput{
  display: none !important;
}
.image-container{/* 이미지 */
  position: relative;
  padding: 20px;
  min-width: 820px;
  min-height: 440px;
  border: 1px solid #5e7c71;
}
.loader {/* 이미지 로딩전까지 보여줄 로딩이미지 */
  position: absolute;
  width: 400px;
  height: 400px;
  object-fit: cover; /* 비율을 유지하며 크기에 맞게 잘라냄 */
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  background: url('/images/loading.gif') center center no-repeat;
  background-size: contain;
}
.image-container>.content-img{
  display: none; /* 처음에는 보이지 않게 */
  width: 100%; /* 고정 가로 크기 */
  height: auto; /* 고정 세로 크기 */
  object-fit: cover; /* 비율을 유지하며 크기에 맞게 잘라냄 */
}