*{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.myPage-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.myPage-main>h1{
  color: #5e7c71;
  margin-bottom: 50px;
}
.myPage-main>.content-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 767px;
  margin-bottom: 50px;
}
.myPage-main>.content-section>hr{
  width: 100%;
  border-color: rgba(169, 169, 169, 0.33);
}
.myPage-main>.content-section>h2{
  color: #5e7c71;
}
.myPage-main>.content-section>.content-div{
  align-self: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #8080806b;
  border-radius: 10px;
  box-shadow: 4px 5px 8px 2px #00000080;
  display: flex;
  flex-direction: row;
}

/* 컨탠츠 내용 */
.content-div>div{
  padding: 10px; 
}
.content-div>div:first-child{/* 이미지설명부분 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}
.content-div>div>hr{
  width: 30%;
  border: 1px dashed grey;
}
.content-div>div>p{
  margin: 5px;
  color: rgb(63, 63, 63);
}
.content-div>div>h3{
  margin-top: 19px;
  margin-bottom: 0;
}
.content-div>div>h4{
  margin: 10px 0 10px;
}
.content-div>.image-container{/* 이미지 */
  position: relative;
  min-width: 182px;
  min-height: 222px;
  border: 1px solid #80808030;
}
.loader {/* 이미지 로딩전까지 보여줄 로딩이미지 */
  position: absolute;
  width: 160px;
  height: 200px;
  top: 10;
  right: 10;
  background: url('/images/loading.gif') center center no-repeat;
  background-size: contain;
}
.content-div>div>.content-img{
  display: none; /* 처음에는 보이지 않게 */
  width: 160px; /* 고정 가로 크기 */
  height: 200px; /* 고정 세로 크기 */
  object-fit: cover; /* 비율을 유지하며 크기에 맞게 잘라냄 */
}

/* 클릭버튼 */
.content-div>div>.piece-btns{
  cursor: pointer;
  margin: 10px 0 5px;
  border-radius: 10px;
  width: 135px;
  height: 50px;
  background-color: #5e7c71;
  color: white;
  text-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-div>div>.piece-btns:hover{
  border: 2px solid #5e7c71;
  background-color: white;
  color: #5e7c71;
}

/* 입금 완료 후 배달중인 작품 */
.content-section>.auction-end:hover{box-shadow: 4px 5px 8px 2px #092900;}

/* 입금대기작품 */
.content-section>.auction-deposit:hover{box-shadow: 4px 5px 8px 2px #693606;}

/* 경매 진행작 */
.content-section>.auction-start:hover{box-shadow: 4px 5px 8px 2px #554d08;}

/* 경매 대기작 */
.content-section>.auction-auction:hover{box-shadow: 4px 5px 8px 2px #092900;}

/* 임시저장작품 */
.content-section>.auction-temp{border: 2px solid #ffe60030;}