*{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.myPage-main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myPage-main>h1{
  user-select: none;
  color: #5e7c71;
  margin-bottom: 50px;
}
.myPage-main>.content-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1000px;
  padding: 0;
  margin-bottom: 50px;
}
.myPage-main>.content-section>h2{
  color: #5e7c71;
}
.myPage-main>.content-section>section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.myPage-main>.content-section>section>.content-div{
  align-self: center;
  width: 86%;
  margin: 20px;
  border: 1px solid #80808036;
  border-radius: 10px;
  box-shadow: 5px 7px 6px #00000061;
  display: flex;
  flex-direction: row;
  padding: 10PX;
}

/* 컨탠츠 내용 */
#wishList-section>section>.content-div>div:first-child{
  flex-grow: 1;
  padding: 10px;
}
.image-container{
  padding: 10px; 
  position: relative;
  min-width: 182px;
  min-height: 222px;
  border: 1px solid #80808030;
}
.loader { /* 이미지 로딩전까지 보여줄 로딩이미지 */
  position: absolute;
  width: 160px;
  height: 200px;
  top: 10;
  right: 10;
  background: url('/images/loading.gif') center center no-repeat;
  background-size: contain;
}
.content-img{ /* 로딩할 이미지 */
  display: none; /* 처음에는 보이지 않게 */
  width: 160px; /* 고정 가로 크기 */
  height: 200px; /* 고정 세로 크기 */
  object-fit: cover; /* 비율을 유지하며 크기에 맞게 잘라냄 */
}
#wishList-section>section>.content-div>div:first-child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#wishList-section>section>.content-div>div>p{
  margin: 5px;
}
#wishList-section>section>.content-div>div>h3{
  margin-top: 19px;
  margin-bottom: 0;
}
#wishList-section>section>.content-div>div>h4{
  margin: 10px 0 10px;
}
#wishList-section>section>.content-div>div>.piece-detales{
  cursor: pointer;
  user-select: none;
  margin: 10px 0 5px;
  border-radius: 10px;
  width: 135px;
  height: 50px;
  background-color: #5e7c71;
  color: white;
  text-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wishList-section>section>.content-div>div>.piece-detales:hover{
  border: 2px solid #5e7c71;
  background-color: white;
  color: #5e7c71;
}

/* 팔로우 리스트 */
.myPage-main>.content-section>.follow-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
}
.follow-div>.following{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  height: 300px;
  margin: 20px 0 20px;
}
.follow-div>.following .artist-img{
  display: none; /* 처음에는 보이지 않게 */
  width: 180px; /* 고정 가로 크기 */
  height: 252px; /* 고정 세로 크기 */
  object-fit: cover; /* 비율을 유지하며 크기에 맞게 잘라냄 */
}

/* 페이지 네이션 */
.pagination-box {
  display: flex;
  flex-direction: row;
  justify-content: center; /* 중앙 정렬 */
  margin-top: auto; /* 남은 공간만큼 아래로 이동 */
  width: 100%;
  margin-bottom: 50px;
  list-style-type: none;
}
.pagination-box>li{
  margin: 0;
}
.pagination-box .page-btn {
  margin: 0 10px; /* 페이지 번호 간격 조절 (양쪽을 넓힘) */
  cursor: pointer; /* 마우스 포인터를 클릭 가능으로 변경 */
  padding: 5px; /* 패딩 추가하여 클릭 영역 확대 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 30px; /* 고정된 너비 */
  height: 30px; /* 고정된 높이 */
  transition: color 0.3s; /* 부드러운 색상 전환 */
  text-align: center;
}
.pagination-box .page-btn:hover {
  border-radius: 50%; 
  background-color: #5e7c71; /* 원형의 배경색 */
  color: #fff; /* 글자색 흰색 */
}
    /* 페이지 네이션 색상 */
.pagination-box .page-btn.active {
  border-radius: 50%; 
  background-color: #5e7c71; /* 원형의 배경색 */
  color: #fff; /* 글자색 흰색 */
  font-weight: bold;
}
.pagination-box a {
  color: inherit; /* 부모 요소의 색상으로 설정 */
  text-decoration: none;
  margin: 0 10px; /* 링크 간격 조절 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  padding: 5px; /* 패딩 추가하여 클릭 영역 확대 */
  user-select: none;
}
