/* ************************************************ */
/* 알림창 */
.display-none{display: none !important;}
#msg-closeBtn{
  font-size: 1.3em;
}
#msg-closeBtn:hover{
  cursor: pointer;
}
.mc-body, .mc-body *{
  box-sizing: border-box;
}
.mc-body{
  min-width: 420px;
  min-height: 170px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 14px #333;

  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: inline-table;
  z-index: 1;
}
.mc-body>section{
  margin: auto;
  min-width: 400px;
  min-height: 150px;
  border: 3px solid rgb(255, 150, 30);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mc-body>section{
  display: block;
}
.mc-body .msg-head{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
}
.mc-body .msg-main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 50px;
  justify-content: flex-start;
  align-items: center;
}
.mc-body .msg-foot{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
}
.msg-logo{
  display: flex;
  flex-direction: row;
}
.msg-logo>p{
  display: block;
  font-family: 'HSSaemaul-Regular';
}
.msg-logo>p:nth-of-type(1){color: chocolate;}
.msg-logo>p:nth-of-type(2){color: black;}
.msg-logo>p:nth-of-type(3){color: black;}
.msg-logo>p:nth-of-type(4){color: rgb(132, 0, 255);}
.msg-logo>p:nth-of-type(5){color: black;}
.msg-logo>p:nth-of-type(6){color: black;}
.msg-logo>p:nth-of-type(7){color: rgb(0, 38, 255);}
@font-face {
  font-family: 'HSSaemaul-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}