body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.myPage-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.myPage-main>h1{
  color: #5e7c71;
}
.myPage-main>#content-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin-bottom: 50px;
}
.myPage-main>#content-section>.content-div{
  width: 450px;
  margin: 20px;
  border: 1px solid #80808036;
  border-radius: 10px;
  box-shadow: 5px 7px 6px #00000061;
  display: flex;
  flex-direction: row;
}

/* 컨탠츠 내용 */
.image-container{
  padding: 10px; 
  position: relative;
  min-width: 182px;
  min-height: 222px;
  border: 1px solid #80808030;
}
.loader { /* 이미지 로딩전까지 보여줄 로딩이미지 */
  position: absolute;
  width: 160px;
  height: 200px;
  top: 10;
  right: 10;
  background: url('/images/loading.gif') center center no-repeat;
  background-size: contain;
}
.content-img{ /* 로딩할 이미지 */
  display: none; /* 처음에는 보이지 않게 */
  width: 160px; /* 고정 가로 크기 */
  height: 200px; /* 고정 세로 크기 */
  object-fit: cover; /* 비율을 유지하며 크기에 맞게 잘라냄 */
}
.content-div>div:last-child{
  display: flex;
  flex-grow: 1;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.content-div>div>p{
  margin: 5px;
}
.content-div>div>h3{
  margin-top: 19px;
  margin-bottom: 0;
}
.content-div>div>h4{
  margin: 10px 0 10px;
}
/* 경매 진행품 */
.content-div>div>.piece-detales,
.content-div>div>.piece-payment{
  user-select: none;
  cursor: pointer;
  align-self: center;
  margin: 10px 0 5px;
  border-radius: 10px;
  width: 135px;
  height: 50px;
  background-color: #5e7c71;
  color: white;
  text-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-div>div>.piece-detales:hover,
.content-div>div>.piece-payment:hover{
  border: 2px solid #5e7c71;
  background-color: white;
  color: #5e7c71;
}
.no-content>p{
  margin-top:230px;
  font-size: 35px;
  color: grey;
}


/* 팝업창 */
.display-none{
  display: none !important;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 439px;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.popup>span{
  display: block;
}
.popup .popup-comment{
  color: grey;
}
.popup-title{
  color: #5e7c71;
  font-size: 1.5em;
}
.popup>div, .popup>span{
  margin: 10px 0;
}
.popup>div, .popup>section{
  width: 100%;
}
.popup>span:first-child{
  align-self: center;
}
.popup>div:first-of-type>label{
  margin-left: 39px;
}
.popup>section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.popup>section>div{
  width: 116px;
  height: 33px;
  background-color: white;
  color: #5e7c71;
  border: 2px solid #5e7c71;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0;
}
.popup>section>div:hover{
  background-color: #5e7c71;
  color: white;
  border: 2px solid white;
}
.popup-label, .popup-label>input{
  width: 100%;
  height: 30px;
}