.myPage-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myPage-main>h1{
  color: #5e7c71;
}
.myPage-main>#content-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin-bottom: 50px;
}
.myPage-main>#content-section>.content-div{
  width: 450px;
  margin: 20px;
  border: 1px solid #80808036;
  border-radius: 10px;
  box-shadow: 5px 7px 6px #00000061;
  display: flex;
  flex-direction: row;
}

/* 컨탠츠 내용 */

.image-container{
  padding: 10px; 
  position: relative;
  min-width: 202px;
  min-height: 274px;
  border: 1px solid #80808030;
}
.loader { /* 이미지 로딩전까지 보여줄 로딩이미지 */
  position: absolute;
  width: 180px;
  height: 252px;
  top: 10;
  right: 10;
  background: url('/images/loading.gif') center center no-repeat;
  background-size: contain;
}
.content-img{ /* 로딩할 이미지 */
  display: none; /* 처음에는 보이지 않게 */
  width: 180px; /* 고정 가로 크기 */
  height: 252px; /* 고정 세로 크기 */
  object-fit: cover; /* 비율을 유지하며 크기에 맞게 잘라냄 */
}
.content-div>div:last-child{
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content-div>div>p{
  margin: 5px;
}
.content-div>div>.piece-detales{
  user-select: none;
  align-self: center;
  margin: 10px 0 5px;
  border-radius: 10px;
  width: 135px;
  height: 50px;
  background-color: #5e7c71;
  color: white;
  text-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content-div>div>.piece-detales:hover{
  border: 2px solid #5e7c71;
  background-color: white;
  color: #5e7c71;
}
.content-div>div>h3{
  margin-top: 19px;
  margin-bottom: 0;
}
.content-div>div>h4{
  margin: 10px 0 10px;
}

/* 로더 */
#loader{
  font-size: 80px;
}