@font-face {
  font-family: 'ChosunKm';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
}

*{
  font-family: "ChosunKm", Helvetica;
}

.footer{
  padding-top: 2%;
  box-sizing: border-box;
  background-color: #5e7c71;
  margin-top: 3%;
  font-size: 14px;
}

.footer a{
  color : #ffffff;
  text-decoration-line: none;
  padding-left: 5%;
}

.footer-info {
  margin-top: 3%;
  font-size: 14px;
  color : #ffffff;
  background-color: #5e7c71;
}