@font-face {
  font-family: 'ChosunKm';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
}

*{
  font-family: "ChosunKm", Helvetica;
}

.footer{
  padding-top: 2%;
  box-sizing: border-box;
  background-color: #5e7c71;
  margin-top: 3%;
  font-size: 14px;
}

.footer a{
  color : #ffffff;
  text-decoration-line: none;
  padding-left: 5%;
}

.footer-info {
  margin-top: 3%;
  font-size: 14px;
  color : #ffffff;
  background-color: #5e7c71;
}

/* 왼쪽눈금 */
#leftSide-barBox{
  z-index: -1;
  position: fixed;
  left: 0;
  top: 300px;
  margin-left: 17px;
  width: 36px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#leftSide-barBox>*{
  flex-shrink: 1;
  margin: 0 0 7px;
  padding: 0;
  width: 80%;
  border-bottom: 1px solid #5e7c71;
}
#leftSide-barBox>.currentHeight{
  width: 100%;
  border-bottom: 3px solid #0e6948;
  border-radius: 3px;
}