@font-face {
  font-family: 'ChosunKm';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
}


html, body {
  height: 100%;
  margin: 0;
  min-height: calc(100vh - 100px - 200px);
  box-sizing: border-box;
}

*{
  font-family: "ChosunKm", Helvetica;
  /* 임시로 주석처리 */
  /* color : #ffffff; */
}

.footer{
  padding-top: 5%;
  box-sizing: border-box;
  background-color: #5e7c71;
  margin-top: 15%;
  font-size: 14px;
}

a{
  text-decoration-line: none;
  padding-left: 5%;
}

.footer-info {
  margin-top: 5%;
  font-size: 14px;
  background-color: #5e7c71;
}