@font-face {
  font-family: 'Shilla_CultureB-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
}

* {
  font-family: "Shilla_CultureB-Bold", Helvetica;
}

/* 헤더 영역 */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0% 5%;
  width: 100%;
  z-index: 1000;
  height: 15vh; /* 뷰포트 높이에 비례한 헤더 높이 */
  background-color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 10%;
}

.header-main-menu{
  justify-content: space-between;
  width: 100%;
  padding: 0% 5% 0% 0%;
  display: flex;
  flex-wrap: nowrap; /* 한 줄로 나오게 변경 */
}

/* 로고 스타일 */
.header-logo {
  font-style: italic;
  font-size: 1.5rem; /* 로고 크기 조정 */
  color: #5e7c71;
}

.header-text {
  font-size: 0.8rem; /* 서브 텍스트 크기 조정 */
  margin-top: 0.3rem;
  color: #5e7c71;
}

.header-logo-link > a {
  text-decoration: none;
  color: #5e7c71;
}

/* 중앙 메뉴 스타일 */
.header-menu {
  display: flex;
  gap: 4vw; /* 메뉴 간 간격을 뷰포트 너비에 따라 조정 */
  justify-content: center;
  align-items: flex-end;
  transform: translate(5%, 20%);
  color: #5e7c71;
  flex-wrap: wrap;
  position: relative;
  width: 500px;
}

.header-menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header-menu .nav-item {
  position: relative;
  white-space: nowrap; /* 텍스트가 두 줄로 내려가는 것을 방지 */
  width: 25%;
}

.header-menu .nav-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem; /* 반응형 글자 크기 */
  transition: color 0.3s ease;
  color: #5e7c71;
}

.header-menu .dropdown{
  color: #ffffff;
  width: 100%;
}

.subMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -140px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header-menu:hover .subMenu,
.header-menu:focus-within .subMenu {
  visibility: visible;
  opacity: 1;
}

.sub-bg{
  background-color: rgba(94, 124, 113, 0.4);
  width: 100vw;
  height: 230px;
  position: absolute;
  top: -15px;
}

/* 드롭다운 메뉴 스타일 */
.dropdown {
  width: 120px;
  left: 0;
  color: #ffffff;
  padding: 1rem 0; /* 드롭다운 메뉴 내부 여백 */
  z-index: 1000;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0px 40px;
  list-style: none;
}

/* 각 상위 메뉴 아래로 전체 드롭다운 항목을 분산 배치 */
.dropdown li {
  width: 100%;
  margin: 10px 0;
}


/* 드롭다운이 보이도록 설정 */
.header-menu:hover .dropdown,
.header-menu:focus-within .dropdown {
  opacity: 1;
  visibility: visible;
}

/* 드롭다운 항목 스타일 */
.dropdown ul li {
  padding: 0.5rem 0;
  text-align: center;
}

.dropdown ul li a {
  color: #ffffff; /* 텍스트 색상 흰색으로 설정 */
  text-decoration: none;
  font-size: 1rem;
}

.dropdown a:hover {
  color: #5e7c71;
  background-color: #ffffff;
}

/* 오른쪽 상단 사이드바 등등 */
.header-actions {
  display: flex;
  align-items: center;
  gap: 1.5vw; /* 간격을 뷰포트 너비에 맞춰 조정 */
  /* position: absolute; */
  top: 5%; /* 상단에 위치 */
  right: 2%; /* 오른쪽 끝에 위치 */
}

.header-item {
  color: #5e7c71;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.header-item:hover {
  color: #ffffff;
  background-color: #5e7c71;
}

/* 아이콘 스타일 */
.header-actions>i{
  font-size: 1.1rem;
  color: #5e7c71;
  cursor: pointer;
}

/* 사이드 메뉴 CSS */
.side-menu {
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  color: #5e7c71;
  transition: transform 0.3s ease;
  padding-top: 60px;
  z-index: 2501;
  transform: translateX(100%); /* 초기 상태에서 화면 밖으로 밀어냄 */
}

.side-menu.open {
  transform: translateX(0); /* 메뉴가 열릴 때 화면 안으로 이동 */
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #ffffff;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #5e7c71;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.menu-icon:hover {
  color: #ffffff;
}

.side-menu .side-bar {
  padding: 15px 20px;
  display: block;
  text-align: left;
}

.side-menu .side-item,
.side-menu .header-item {
  text-decoration: none;
  color: #5e7c71;
  display: block;
  padding: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.side-menu .side-item:hover,
.side-menu .header-item:hover {
  background-color: #5e7c71;
  color: #ffffff;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
  .side-menu {
    width: 80%; /* 모바일 환경에서 사이드 메뉴 너비 조정 */
  }

  .close-icon {
    top: 15px;
    right: 15px;
  }
}

/* 애니메이션 효과 추가 */
.side-menu.open .side-bar {
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

