@font-face {
  font-family: 'ChosunKm';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ChosunKm', Helvetica;
}

.container {
  padding: 0;
  /* 원하는 패딩을 추가 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #5e7c71;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exit-btn {
  background-color: #f5f5f5;
  color: #526D64;
  padding: 8px 16px;
  border: 1px solid #5e7c71;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  min-width: 210px;
  background-color: #5e7c71;
  color: white;
}

.sidebar>nav {
  top: 0;
  font-size: 18px;
  position: fixed;
  padding-top: 80px;
}

.nav-item {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item:hover,
.nav-item.active {
  background-color: #3A4F48;
}


header a {
  text-decoration-line: none;
  color: #ffffff;
}

main {
  flex-grow: 1;
  padding-top: 10vh;
}

/* 헤더 영역 */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0% 5%;
  width: 100%;
  z-index: 1000;
  height: 10vh;
  /* 뷰포트 높이에 비례한 헤더 높이 */
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ffffff;
  color: #ffffff;
}


.header-main-menu {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  /* 한 줄로 나오게 변경 */
}

/* 로고 스타일 */
.header-logo {
  padding-top: 1%;
  font-style: italic;
  font-size: 1.5rem;
  /* 로고 크기 조정 */
  color: #5e7c71;
  text-shadow: 1px 1px #c9c9c9;
}


.header-text {
  font-size: 0.8rem;
  /* 서브 텍스트 크기 조정 */
  margin-top: 0.3rem;
  color: #5e7c71;
  text-shadow: 1px 1px #c9c9c9;
}

.header-logo-link>a {
  text-decoration: none;
  color: #5e7c71;
}

/* 중앙 메뉴 스타일 */
.header-menu {
  top: 62%;
  display: flex;
  gap: 10vw;
  justify-content: center;
  align-items: flex-end;
  transform: translate(5%, -10%);
  color: #5e7c71;
  flex-wrap: wrap;
  position: absolute;
  width: 46%;
  text-shadow: 1px 1px #c9c9c9;
}

.header-menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header-menu .nav-item {
  position: relative;
  white-space: nowrap;
  /* 텍스트가 두 줄로 내려가는 것을 방지 */
  width: 25%;
}

.header-menu .nav-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  /* 반응형 글자 크기 */
  transition: color 0.3s ease;
  color: #5e7c71;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

/* 구분선 */
.custom-line {
  border-bottom: 0.5px solid #dbdbdb;
  width: 100%;
  margin: 1% 0% 1% 0%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* 드롭다운 메뉴 */
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* 사이드 메뉴 CSS */
.side-menu {
  position: fixed;
  top: 0;
  right: -3000px;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  color: #5e7c71;
  overflow-y: auto;
  transition: right 0.3s ease;
  padding-top: 60px;
  z-index: 2501;
  text-shadow: 1px 1px #c9c9c9;
  padding-left: 1%;
}

.side-menu.open {
  right: 0;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  background-color: #ffffff;
  color: #5e7c71;
  transition: color 0.3s ease;
}

#menu-icon:hover {
  color: #ffffff;
  background-color: #5e7c71;
}

.close-icon {
  top: 20px;
  right: 25px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: #5e7c71;
  background-color: #ffffff;
}

.close-icon:hover {
  color: #ffffff;
  background-color: #5e7c71;
}

.side-menu .side-bar {
  padding: 15px 20px;
  display: block;
  text-align: left;
}

.side-menu .side-item,
.side-menu .header-item {
  text-decoration: none;
  background-color: #ffffff;
  color: #5e7c71;
  display: block;
  padding: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.side-menu .side-item:hover,
.side-menu .header-item:hover {
  background-color: #5e7c71;
  color: #ffffff;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
  .side-menu {
    width: 80%;
    /* 모바일 환경에서 사이드 메뉴 너비 조정 */
  }

  #menu-icon {
    top: 15px;
    right: 15px;
  }

  .close-icon {
    top: 15px;
    right: 15px;
  }
}

/* 애니메이션 효과 추가 */
.side-menu.open .side-bar {
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    right: -300px;
  }

  to {
    right: 0;
  }
}