/* 검색 타이틀 */
h3{
  color: #414141;
  text-align: center;
}

/* 검색 아래 구분선 */
.custom-line {
  border-bottom: 1px solid #acacac;
  width: 100%;
  margin: 20px 0;
}

/* 구분선 */
.dotted-line {
  width: 90%;
  margin: 3% 0% 3% 0%;
  border: none; /* 기본 선 제거 */
  height: 1px; /* 선의 높이 */
  background-image: linear-gradient(to right, #333 30%, rgba(255, 255, 255, 0) 0%);
  background-size: 5px 5px; /* 점과 점 사이 간격 설정 */
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* 헤더 영역 */
.serach-container-main{

}

/* 체크박스, 옵션 */
.search-header-main{

}

.search-header-main>p{

}

.search-checkbox{

}

.sort-select{

}

/* ----------------------------------------------------------------------------------------------------------------------- */

/* 내용 영역 */
.search-container {

}

.serach-header{
  
}

