<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Profile</title>
    <link rel="stylesheet" href="/css/artist/artistDetail.css">

    <th:block th:replace="~{/common/common.html :: cssLinks}"></th:block>
</head>

<body>
  <th:block th:replace="~{/common/common.html :: headerLinks}"></th:block>
    <main id="artist-profile-container">
      
        <section class="profile-section" th:object="${artist}">
            <img th:src="*{artistProfile}" class="profile-image">
            <div class="artist-info">
                <div class="info-header">
                  <h2 th:text="*{memberName}">이동현</h2>
                  <button class="follow-button" id="follow-btn">FOLLOW
                    <i class="fa-star" id="follow" aria-hidden="true"
                       th:classappend="*{followCheck == 1} ? 'fa-solid' : 'fa-regular'" ></i>
                  </button>
                </div>
                <h3>경력 사항</h3>
                <hr>
                <p class="exhibition-info" th:text="*{workDetail}">발 묻히기 2024~<br>뉴욕 여행 2주</p>
            </div>
        </section>

        <hr>

        <!-- 작품 내역 목록 -->
        <section class="artwork-section">
            <div class="section-header">
                <h3>작품 내역</h3>
                <div class="work-dropdown-container">
                  <button class="view-more" id="work-sort-btn">정렬 방식</button>
                  <div class="work-dropdown" id="workDropdown">
                    <a id="workByName">이름순</a>
                    <a id="workByPrice">가격순</a>
                  </div>
                </div>
            </div>
            
            <!-- Artwork List -->
            <div class="artwork-list">
                
            </div>
        </section>
    </main>

    <th:block th:replace= "~{/common/footer.html}"></th:block>

    <script th:inline="javascript">
      let loginCheck1 = /*[[${session.memberLogin != null || session.artistLogin != null}]]*/ false;
      let memberNo = /*[[${artist.memberNo}]]*/ null;
    </script>

    <script src="/js/artist/artistDetail.js"></script>
</body>
</html>
