<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/howto/auctionWord.css">
  <link rel="stylesheet" href="/css/howto/howToAuction.css">
</head>
<body>
  <th:block th:replace="~{common/common}"></th:block>

  

  <main id="howTo"> 
    <h1 style="color:#5e7c71;">경매 용어</h1>

    <section></section>
    


  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
</body>
</html>