<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HowTo</title>

  <link rel="stylesheet" href="/css/howto/howToMain.css">
</head>
<body>
  
  <th:block th:replace="~{common/common}"></th:block>
    
  <main id="howTo"> 

    <h1>How To</h1>

    <section class="howTo-section1">
      <div>
        <div style="font-size: 25px;">경매 소개</div>
        <a href="#" class="inquireBtn">1 : 1 문의</a>
      </div>

      <div class="section1-imgBox">

        <img src="https://www.theartro.kr/kor/focus/20211203/03.jpg">
        <div>
          <h2 style="margin: 0 0 10px 0; color: #fff;">경매 소개</h2>
          <hr>
          <a href="/howTo/info" class="detailBtn">상세보기</a>
        </div>

      </div>
    </section>
    

    <section class="howTo-section2">
      <div>
        <div style="font-size: 25px;">안내 사항</div>
      </div>

      <div class="section2-imgBox">

        <img src="/images/howto/info.png">
        <div>
          <h2 style="margin: 0 0 10px 0; color: #fff;">응찰 안내</h2>
          <hr>
          <a href="/howTo/bidInfo" class="detailBtn">상세보기</a>
        </div>

      </div>
    </section>


    <section class="faq-section">

      <div>
        <div style="font-size: 25px; margin: 20px 20px 20px 0; font-weight: bold;">자주 묻는 질문(FAQ)</div>
      </div>
      
      <div class="faq-box">
        <i class="fa-solid fa-play"></i>
        <a style="color:#5e7c71;">집에 가고싶어요 :: 참아.</a>
      </div>

      <div class="faq-box">
        <i class="fa-solid fa-play"></i>
        <a style="color:#5e7c71;">집에 가고싶어요 :: 참아.</a>
      </div>

      <div class="faq-box">
        <i class="fa-solid fa-play"></i>
        <a style="color:#5e7c71;">집에 가고싶어요 :: 참아.</a>
      </div>

      <div class="faq-box">
        <i class="fa-solid fa-play"></i>
        <a style="color:#5e7c71;">집에 가고싶어요 :: 참아.</a>
      </div>
    </section>


    <section class="howTo-section3">
      <div>
        <div style="font-size: 25px;">공지사항</div>
        <a href="#" style="margin-top: 35px;">전체 공지사항 보기 +</a>
      </div>

      <div class="section2-imgBox">

        <img src="/images/howto/auction.png" style="margin-bottom:30px;">
        <div class="section3-textBox">
          <h2 style="margin: 0 0 10px 0; color: #fff;">경매 입찰 방법</h2>
          <hr>
          <a href="/howTo/bidmethod" class="detailBtn">상세보기</a>
        </div>

      </div>

      <hr style="width: 100%; height: 3px; border: none; background-color: #333;">
      <div class="section2-imgBox">

        <img src="/images/howto/notice.png" style="margin-top: 30px;">
        <div>
          <h2 style="margin: 0 0 10px 0; color: #fff;">경매 용어</h2>
          <hr>
          <a href="/howTo/word" class="detailBtn">상세보기</a>
        </div>

      </div>


    </section>



</main>



  <th:block th:replace= "~{/common/footer.html}"></th:block>
</body>
</html>