<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>경매소개</title>

  <link rel="stylesheet" href="/css/howto/howToAuction.css">
</head>
<body>
  <th:block th:replace="~{common/common}"></th:block>

  

  <main id="howTo"> 
    <h1 style="color:#5e7c71;">경매 소개</h1>

    <section class="infoMain">
      <div>
        <img src="/images/howto/infoart.png">
      </div>

      <div class="infoMain-titleText">
        <h1>"예술과 가치를 만나는 특별한 공간, 화사 :: 愛 :: 화공입니다."</h1>
      </div>

      <div class="infoMain-titleContent">
        <p>
          화사 :: 愛 :: 화공은 독창적이고 아름다운 예술 작품을 새로운 주인에게 연결해주는 경매 사이트입니다.
          작가의 열정과 감동이 담긴 다양한 작품들을 감상하고, 새로운 소유자로써 소장할 수 있는 기회를 제공합니다.
          아트 컬렉터부터 초보 감상자까지,모두가 예술을 가까이에서 경험하고 즐길 수 있는 공간을 만들어 갑니다.
          가치 있는 예술의 세계에 오신 것을 환영합니다. 각 작품의 스토리와 매력을 직접 느껴보세요.
        </p>
      </div>
    </section>

    <hr>

    <section class="infoBottom">

      <div class="infoBottom-contentBox">
        
        <div class="content-box">
          <h2 style="margin-top: 72px;">"예술의 가치를 경험하고, 소유할 수 있는 순간"</h2>
          <p>
            화사 :: 愛 :: 화공은 예술 애호가와 컬렉터들에게 작품과
            연결되는 특별한 기회를 제공합니다.다양한 예술가의 
            창작물에 참여하고,작품이 가진 스토리를 깊이 느껴보세요. 
            각 작품은 소장할 가치를 해줄 특별한 존재입니다
          </p>
        </div>

          <div class="content-box">
            <h2 style="margin-top: 72px;">"시간과 예술이 만나는 순간, 한정된 기회 속에서"</h2>
            <p>
              예술 작품은 시간과 함께 더욱 깊은 가치를 만들어갑니다.
              화사 :: 愛 :: 화공에서는 단 한 순간의 입찰로 희귀하고
              가치 있는 작품을 소장할 수 있는 기회를 제공합니다.
              당신의 손길이 닿는 순간, 예술은 비로소 빛을 발합니다.
            </p>
          </div>


      </div>
    </section>


  </main>

  <th:block th:replace= "~{/common/footer.html}"></th:block>
</body>
</html>