<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/howto/notice.css">
    <link rel="stylesheet" href="/css/howto/howToMain.css">
</head>
<body>

  <th:block th:replace="~{common/common}"></th:block>

  <main id="howTo"> 

    <h1>공지사항</h1>

    <div class="notice-container" id="noticeContainer">

      <!-- <div class="notice-item">
        <div class="notice-title" onclick="toggleContent(this)">
            [공지] 집에 가고 싶은데 어떡해요?
        </div>
        <div class="notice-content">
            <p>길더라도 힘내서 가야죠...</p>
            <p>눈 부릅 뜨고 집에 도착하세요.</p>
        </div>
      </div>

      <div class="notice-item">
        <div class="notice-title" onclick="toggleContent(this)">
            [공지] 두 번째 공지 제목
        </div>
        <div class="notice-content">
            <p>이것은 두 번째 공지의 내용입니다.</p>
        </div>
      </div>

      <div class="notice-item">
        <div class="notice-title" onclick="toggleContent(this)">
            [공지] 두 번째 공지 제목
        </div>
        <div class="notice-content">
            <p>이것은 두 번째 공지의 내용입니다.</p>
        </div>
      </div>

      <div class="notice-item">
        <div class="notice-title" onclick="toggleContent(this)">
            [공지] 두 번째 공지 제목
        </div>
        <div class="notice-content">
            <p>이것은 두 번째 공지의 내용입니다.</p>
        </div>
      </div>

      <div class="notice-item">
        <div class="notice-title" onclick="toggleContent(this)">
            [공지] 두 번째 공지 제목
        </div>
        <div class="notice-content">
            <p>이것은 두 번째 공지의 내용입니다.</p>
        </div>
      </div> -->

      <!-- 공지사항 항목을 계속 추가할 수 있습니다 -->
    </div>


    <div class="pagination-box" id="paginationBox">
      <!-- <a href="#" class="page-btn">1</a>
      <a href="#" class="page-btn">2</a>
      <a href="#" class="page-btn">3</a>
      <a href="#" class="page-btn">4</a>
      <a href="#" class="page-btn">5</a>
      <a href="#" class="page-btn">6</a>
      <a href="#" class="page-btn">7</a>
      <a href="#" class="page-btn">8</a>
      <a href="#" class="page-btn">9</a>
      <a href="#" class="page-btn">10</a> -->
    </div>

  </main>


  

  <th:block th:replace= "~{/common/footer.html}"></th:block>

  <script src="/js/howto/notice.js"></script>
</body>
</html>
