.notice-container {
  width: 50%;
  height: 350px;
  margin: 0 auto;
  padding-top: 65px;
}

h2 {
  text-align: center;
  color: #4a6356;
}

.notice-item {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}

.notice-title {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: #f7f7f7;
  position: relative;
}

.notice-title::before {
  content: '▶';
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.notice-title.open::before {
  transform: rotate(90deg);
}

.notice-content {
  height: 0;
  overflow: hidden;
  padding: 0 10px;
  color: #555;
  transition: height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.notice-content.open {
  opacity: 1;
  padding: 10px; /* 내용이 펼쳐질 때 패딩을 추가합니다 */
}


.pagination-box {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  margin-top: auto; /* 남은 공간만큼 아래로 이동 */
  width: 100%;
  margin-bottom: 50px;
}

.pagination-box > .page-btn {
  margin: 0 10px; /* 페이지 번호 간격 조절 (양쪽을 넓힘) */
  cursor: pointer; /* 마우스 포인터를 클릭 가능으로 변경 */
  padding: 5px; /* 패딩 추가하여 클릭 영역 확대 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 30px; /* 고정된 너비 */
  height: 30px; /* 고정된 높이 */
  transition: color 0.3s; /* 부드러운 색상 전환 */
  text-align: center;
}

.pagination-box >.page-btn:hover {
  border-radius: 50%; 
  background-color: #5e7c71; /* 원형의 배경색 */
  color: #fff; /* 글자색 흰색 */
}

   /* 페이지 네이션 색상 */
.pagination-box > .page-btn.active {
  border-radius: 50%; 
  background-color: #5e7c71; /* 원형의 배경색 */
  color: #fff; /* 글자색 흰색 */
  font-weight: bold;
}

.pagination-box a {
  color: inherit; /* 부모 요소의 색상으로 설정 */
  text-decoration: none;
  margin: 0 10px; /* 링크 간격 조절 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  padding: 5px; /* 패딩 추가하여 클릭 영역 확대 */
}


.dummy {
  height: 115px;
}

